.main_aboutme
    background: url("../img/aboutme__bg.jpg?v=2") no-repeat center center
    height: 780px
    padding-top: 74px
    h1
        text-transform: uppercase
        font-weight: 400
        font-variation-settings: "wdth" 75, "wght" 300
        font-size: 120px
        letter-spacing: 8px
        line-height: 1
        margin-bottom: 65px - 25px
        .small
            display: block
            font-weight: 400
            font-size: 36px
            letter-spacing: 0
            margin-bottom: 10px
        span
            display: block
            color: $orange
            margin-bottom: 30px
    .description
        margin-top: 25px
        max-width: 490px
.aboutme-story
    background: url("../img/aboutme__story-bg.png?v=2") no-repeat center 284px
    padding-left: 30px
    margin-left: -30px
    .block
        margin-bottom: 64px
        .heading
            display: flex
            align-items: center
            margin-bottom: 26px
            margin-left: -30px
            .counter
                display: flex
                width: 116px
                height: 116px
                flex: 0 0 116px
                justify-content: center
                align-items: flex-start
                background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 120 120' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='60' cy='60' r='58' stroke='%23d4d4d4' stroke-width='2' stroke-dasharray='7,4' stroke-linecap='square' fill='transparent'/></svg>") no-repeat center center / 100% 100%
                color: $orange
                font-size: 83px
                font-weight: 400
                font-variation-settings: "wdth" 75, "wght" 300
                line-height: 120px
                margin-right: 18px
            .title
                display: block
                text-transform: uppercase
                font-size: 30px
                font-weight: 400
                font-variation-settings: "wdth" 75, "wght" 300
                letter-spacing: 4px
        .description
            min-height: 100px
            max-width: 100%
        &_centered
            .heading
                align-items: flex-start
                margin-left: 0
                .title
                    text-align: center
                    width: 100%
                    margin-top: 30px
        &_last
            margin-top: -8px
.competentions
    background: url("../img/competentions__bg.png") no-repeat center 385px, #f4f4f4
    padding: 80px 0
    .block
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
        .title
            display: flex
            text-transform: uppercase
            font-size: 30px
            font-weight: 400
            font-variation-settings: "wdth" 75, "wght" 300
            color: $orange
            margin-top: 30px
            flex: 0 0 30px
            align-items: flex-end
        &_bottom
            .title
                margin-bottom: 30px
                margin-top: 0
                flex: 0 0 72px
        &-heading
            text-align: center
            max-width: 800px
            margin: 90px auto
            font-size: 60px
.reviews
    padding-bottom: 82px
    .block
        &-heading
            max-width: 100%
            margin-bottom: 60px
    .carousel
        .carousel-cell
            border: 4px solid $orange
            margin-bottom: 135px
            height: 100%
            margin-right: 28px
            .story
                padding: 44px 10px 44px 44px
                height: 100%
                .description
                    min-height: 150px
                    margin-bottom: 30px
                a
                    display: block
                    color: $orange
                    text-decoration: underline
                    font: 18px "PT Sans Narrow", sans-serif
                    margin-top: 25px
                .author
                    display: flex
                    align-items: flex-start
                    position: absolute
                    bottom: 94px
                    z-index: 1
                    .avatar
                        display: block
                        width: 104px
                        height: 104px
                        flex: 0 0 104px
                        object-fit: cover
                        object-position: 50%
                        margin-right: 30px
                    div
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        min-height: 104px
                        .name
                            text-transform: uppercase
                            font: 30px 'Bahnschrift Condensed', sans-serif
                            font-variation-settings: "wdth" 75, "wght" 300
                            letter-spacing: 1px
                            margin: 0
                            text-shadow: 0px 0px 10px #fff
                        .salary
                            color: $gray-500
                            font-size: 18px
                            margin: 0
                .embed-responsive
                    margin: -44px
                    height: calc(100% + 88px)
                    min-height: 300px
                    width: calc(100% + 54px)
            &:focus
                outline: 0
        .slick-track
            display: flex
            align-items: stretch
            justify-content: center
        .slick-slide
            height: auto
        &-buttons
            position: relative
            width: 130px
            margin: -40px auto 40px
            z-index: 2
            .slick-prev,.slick-next
                background: $white
                width: 65px
                height: 50px
                border-radius: 0px
                border: 2px solid $orange
                z-index: 2
                top: 7px
                transition: all 0.3s ease
                &:before
                    content: '→'
                    color: $orange
                    background: none
                    display: block
                    width: 100%
                    height: 100%
                    font: 32px 'Bahnschrift Condensed', sans-serif
                    font-variation-settings: "wdth" 75, "wght" 600
                &:hover
                    background: $orange
                    &:before
                        color: $white
            .slick-prev
                left: 2px
                &:before
                    transform: rotate(180deg) translateY(2px)
            .slick-next
                right: 2px
                &:before
                    transform: rotate(360deg) translateY(2px)
.review-submit
    padding-bottom: 70px
    .block
        &-heading
            text-align: center
            font-size: 36px
            max-width: 100%
            margin-bottom: 43px
    .button
        margin: 0 auto
        max-width: 260px