.academy
    &-nav
        position: fixed
        left: 0
        height: 100%
        background-color: #222222
        color: $white
        width: 374px
        padding: 20px 40px
        z-index: 5
        .logo
            display: flex
            align-items: center
            margin-bottom: 15px
            img
                display: block
                width: 137px
                align-self: center
                flex: 0 0 137px
                filter: invert(1) brightness(2)
            b
                text-transform: uppercase
                font-weight: 400
                font-size: 24px
                font-variation-settings: "wdth" 75, "wght" 300
                display: block
                margin-left: 45px
            .navbar-toggler
                display: none
                position: relative
                overflow: hidden
                margin: 0
                padding: 0
                width: 40px
                height: 40px
                font-size: 0
                text-indent: -9999px
                appearance: none
                box-shadow: none
                border-radius: 0!important
                border: none
                cursor: pointer
                transition: background 0.3s
                &:focus
                    outline: 0
                span
                    display: block
                    position: absolute
                    top: 18px
                    left: 0px
                    right: 0px
                    height: 3px
                    background: rgba(202, 172, 125, 1)
                    transition: background 0s 0.3s ease
                    &:before, &:after
                        position: absolute
                        display: block
                        left: 0
                        width: 100%
                        height: 3px
                        background-color: $orange
                        content: ""
                    &:before
                        top: -18px
                        transition: top 0.3s 0.3s ease, transform 0.3s ease
                    &:after
                        bottom: -18px
                        transition: bottom 0.3s 0.3s ease, transform 0.3s ease
                &[aria-expanded=true]
                    span
                        background: rgba(202, 172, 125, 0)
                        &:before
                            top: 0
                            transform: rotate(45deg)
                            transition: top 0.3s ease, transform 0.3s 0.3s ease
                        &:after
                            bottom: 0
                            transform: rotate(-45deg)
                            transition: bottom 0.3s ease, transform 0.3s 0.3s ease
        .navbar-collapse
            margin: 0 -40px
            width: calc(100% + 80px)
            background-color: #222222
            position: relative
            z-index: 5
        .list
            flex-direction: column
            width: 100%
            margin: 0 -40px
            width: calc(100% + 80px)
            li
                a
                    display: flex
                    align-items: center
                    padding: 20px 40px
                    color: $white
                    background: #2d2d2d
                    transition: all 0.3s ease
                    .icon
                        color: $orange
                        border-radius: 50%
                        width: 35px
                        height: 35px
                        flex: 0 0 35px
                        border: 1px solid $orange
                        display: flex
                        align-items: center
                        justify-content: center
                        margin-right: 22px
                        text-transform: uppercase
                        font-weight: 400
                        font: 18px 'Bahnschrift Condensed', sans-serif
                        font-variation-settings: "wdth" 75, "wght" 300
                        transition: all 0.3s ease
                    p
                        margin: 0
                        text-transform: uppercase
                        font: 18px 'Bahnschrift Condensed', sans-serif
                        font-variation-settings: "wdth" 75, "wght" 300
                    &:hover, &.active
                        text-decoration: none
                        background-color: #f4f4f4
                        color: $black
                        .icon
                            background-color: $orange
                            color: $black
        .account
            display: flex
            align-items: center
            padding: 15px 40px
            .user
                display: flex
                align-items: center
                img
                    display: block
                    width: 49px
                    height: 49px
                    flex: 0 0 49px
                    border-radius: 50%
                    margin-right: 18px
                p
                    font-size: 19px
                    margin: 0
            a
                display: flex
                align-items: center
                color: #bababa
                font: 19px "PT Sans Narrow", sans-serif
                margin-left: 40px
                img
                    width: 20px
                    flex: 0 0 20px
                    margin-right: 15px
.academy-main
    margin-left: 370px
    background-color: #f4f4f4
    min-height: 100vh
    height: 100%
    .block
        &-heading
            margin: 0
            margin-bottom: 30px
            max-width: 100%
    &__container
        padding: 45px 40px
        margin-top: 80px
        overflow-y: hidden
        .table
            &-partners
                table-layout: fixed
                thead
                    tr
                        background: $orange
                        th
                            &:nth-child(1)
                                width: 400px
                            &:nth-child(2)
                                width: 200px
                            &:nth-child(3)
                                width: 100%
                            &:nth-child(4)
                                width: 200px
                tbody
                    tr
                        border-top: 6px solid #f4f4f4
                        &:nth-child(2n)
                            background-color: $white
                        td
                            padding: 20px 18px !important
                            &:nth-child(4)
                                text-align: center
                        &.non-refers
                            background-color: $white !important
                        &.has-refers
                            &.active
                                .inside
                                    .table-partners_nested
                                        tbody
                                            tr
                                                &.last
                                                    border-bottom: none
                        &.referal
                            .inside
                                position: relative
                                padding: 0 !important
                                background-color: #f4f4f4 !important
                            .table-partners
                                margin: 0 0 12px 0 !important
                                tbody
                                    tr
                                        background: $white !important
                                        .contents
                                            padding: 20px 18px !important
                                            background-color: $white !important
                                            &:nth-child(1)
                                                width: 360px
                                            &:nth-child(2)
                                                width: 200px
                                            &:nth-child(3)
                                                width: 100%
                                            &:nth-child(4)
                                                width: 200px
                                            &:before, &:after
                                                display: none
                                        &:first-child
                                            border-top: none
                                        .last
                                            border-bottom: 6px solid #f4f4f4
                                &_nested
                                    margin: 0 !important
                                    tbody
                                        tr
                                            border-top: none
                            >td
                                &:first-child
                                    &:before
                                        content: ''
                                        width: 2px
                                        height: calc(100% + 13px)
                                        display: block
                                        background-color: #636363
                                        position: absolute
                                        left: 33px
                                        bottom: 7px
                                        z-index: 1
                                &:last-child
                                    &:after
                                        content: ''
                                        width: 173px
                                        height: 2px
                                        display: block
                                        background-color: #636363
                                        position: absolute
                                        left: 33px
                                        bottom: 5px
                                        z-index: 1
                .arrow-down
                    width: 32px
                    height: 32px
                    flex: 0 0 32px
                    display: flex
                    align-items: center
                    justify-content: center
                    border: 2px solid #636363
                    border-radius: 50%
                    position: relative
                    &:hover, &.active
                        background-color: #636363
                        color: $white
                    &:after
                        content: ''
                        width: 2px
                        height: 90px
                        background-color: #636363
                        display: none
                        position: absolute
                        left: 13px
                        bottom: -92px
                        z-index: 1
                    &.active
                        &:after
                            display: block
                .rounded-circle
                    width: 46px
                    height: 46px
                    flex: 0 0 46px
                    margin: 0 20px 0 10px
                .btn
                    color: $white
                    width: 130px
                    font-weight: 700
                    font-size: 19px
                    letter-spacing: 0.5px
                    &:hover
                        color: $white
    &__nav
        background-color: $white
        margin: 0 -15px
        width: calc(100vw - 370px)
        padding: 15px 40px
        min-height: 80px
        display: flex
        align-items: center
        justify-content: space-between
        position: fixed
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3)
        z-index: 2
        top: 0
        .list
            li
                margin-right: 15px
                a
                    display: flex
                    transition: all 0.3s ease
                    text-transform: uppercase
                    color: $black
                    height: 100%
                    align-items: center
                    p
                        margin: 0
                        font-weight: 400
                        font: 22px 'Bahnschrift Condensed', sans-serif
                        font-variation-settings: "wdth" 75, "wght" 300
                        letter-spacing: 1px
                    &:hover, &.active
                        color: $orange
                        text-decoration: none
                &:last-child
                    margin-right: 0
        .account
            display: flex
            align-items: center
            .user
                display: flex
                align-items: center
                img
                    display: block
                    width: 49px
                    height: 49px
                    flex: 0 0 49px
                    border-radius: 50%
                    margin-right: 18px
                p
                    font-size: 19px
                    margin: 0
            a
                display: flex
                align-items: center
                color: #bababa
                font: 19px "PT Sans Narrow", sans-serif
                margin-left: 40px
                img
                    width: 20px
                    flex: 0 0 20px
                    margin-right: 15px
        .dropdown
            width: 100%
            .button
                width: 100%
                max-width: 100%
                text-align: left
                justify-content: space-between
                font-size: 18px
                &:after
                    content: ''
                    border: none
                    width: 18px
                    height: 18px
                    background: url("../img/icons/angle-right.svg") no-repeat center center / contain
                    transform: rotate(90deg)
                    transition: transform 0.3s ease
                &:hover
                    background: none
                    color: $black
                &[aria-expanded=true]
                    background-color: $orange
                    color: $white
                    &:after
                        filter: saturate(0) brightness(0) invert(1)
                        transform: rotate(-90deg)
                    &:hover
                        background-color: $orange
                        color: $white
            &-menu
                width: 100%
                a
                    font: 18px "Bahnschrift Condensed", sans-serif
                    text-transform: uppercase
                    font-variation-settings: "wdth" 75, "wght" 300
                    letter-spacing: 1px
                    color: $black
                    display: block
                    width: 100%
                    padding: 0.25rem 1.5rem
                    clear: both
                    font-weight: 400
                    text-align: inherit
                    background-color: transparent
                    border: 0
    .item
        &_book
            background-color: $white
            display: flex
            align-items: center
            margin-bottom: 28px
            padding: 32px 37px
            position: relative
            .preview
                display: flex
                width: 90px
                height: 150px
                flex: 0 0 90px
                object-fit: cover
                object-position: 50%
                margin-right: 37px
            .main
                flex: 1 1 auto
            .title
                display: block
                font-weight: 400
                font-size: 18px
                text-transform: uppercase
                font-variation-settings: "wdth" 75, "wght" 400
                letter-spacing: 0.5px
                margin-bottom: 25px
                &_m
                    display: none
            .buttons
                flex: 0 0 160px
                margin-left: 100px
                .button
                    margin-bottom: 9px
                    justify-content: flex-start
                    img
                        width: 18px
                        flex: 0 0 18px
                        margin-right: 20px
                        object-fit: contain
                        align-self: center
                        transition: all 0.3s ease
                    &:hover
                        img
                            filter: invert(1)