.block
    &-heading
        display: block
        font-size: 60px
        font-weight: 400
        color: $black
        margin: 69px 0 0
        text-transform: uppercase
        max-width: 960px
        letter-spacing: 3px
        font-variation-settings: "wdth" 75, "wght" 300
        line-height: 1
        position: relative
        &:after
            content: ''
            background: url("../img/icons/decors/companies-triangle.png") no-repeat center center
            width: 218px
            height: 218px
            display: block
            position: absolute
            left: -60px
            top: -60px
            z-index: -1
            color: #e8e8e8
            font-size: 250px
            font-variation-settings: "wdth" 75, "wght" 300
            line-height: 0.9
        &_simple
            text-align: left
            margin-bottom: 15px
            &:after
                display: none
    &-desc
        color: $black
        margin: 5px 0 60px
        font-size: 20px
        text-transform: uppercase
        font-variation-settings: "wdth" 75, "wght" 300
=placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &::placeholder
        @content
%button-with-image
    color: $white
    letter-spacing: 2px
    margin-bottom: 14px
    max-width: 460px
    height: 70px
    img
        width: 35px
        margin-right: 30px
.description
    font-size: 18px
    margin: 0
    line-height: 1.4
    max-width: 93%
    font-variation-settings: "wdth" 90, "wght" 100
.link
    display: flex
    align-items: center
    text-transform: uppercase
    font-size: 17px
    font-variation-settings: "wdth" 75, "wght" 600
    color: $black
    transition: all 0.3s ease
    &:hover
        color: $orange
        text-decoration: none
    &:after
        content: '→'
        color: $orange
        margin-left: 16px
.list
    display: flex
    list-style: none
    margin: 0
    padding: 0
    &_check, &_circle
        flex-direction: column
        li
            padding-left: 18px + 20px
            background: url("../img/icons/check.svg") no-repeat 0px 0px / 18px
            margin-bottom: 37px
            p
                line-height: 1.5
                margin: -5px 0 0
                font-size: 19px
    &_circle
        flex-direction: column
        li
            padding-left: 18px + 10px
            background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="60" cy="60" r="50" fill="#cb3e29"/></svg>') no-repeat 0px 4px / 12px
            margin-bottom: 37px
            p
                line-height: 1.5
                margin: -5px 0 0
                font-size: 19px
    &_dotted
        flex: 1 1 auto
        flex-direction: column
        li
            position: relative
            padding-left: 44px
            margin-bottom: 10px
            p
                @extend .description
                font-size: 17px
                margin-bottom: 0
            &:before, &:after
                content: ''
                display: block
                border-radius: 50%
                position: absolute
            &:before
                width: 20px
                height: 20px
                border: 4px solid $orange
                left: 0px
                top: 2px
            &:after
                width: 8px
                height: 8px
                background-color: $orange
                top: 8px
                left: 6px

.os-theme-block-dark > .os-scrollbar
    padding: 0
.os-theme-block-dark > .os-scrollbar-horizontal
    right: 2px
    height: 2px
.os-theme-block-dark > .os-scrollbar-vertical
    bottom: 2px
    width: 2px
.os-theme-block-dark.os-host-rtl > .os-scrollbar-horizontal
    left: 2px
    right: 0
.os-theme-block-dark > .os-scrollbar-corner
    height: 2px
    width: 2px
    background-color: transparent
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track
    background: transparent
.os-theme-block-dark > .os-scrollbar-horizontal > .os-scrollbar-track:before,
.os-theme-block-dark > .os-scrollbar-vertical > .os-scrollbar-track:before
    content: ''
    display: block
    position: absolute
    background: rgba(0, 0, 0, 0.15)
.os-theme-block-dark > .os-scrollbar-horizontal > .os-scrollbar-track:before
    left: 5px
    right: 5px
    height: 2px
    top: 50%
    margin-top: -1px
.os-theme-block-dark > .os-scrollbar-vertical > .os-scrollbar-track:before
    top: 5px
    bottom: 3px
    width: 2px
    left: 50%
    margin-left: -1px
.os-theme-block-dark > .os-scrollbar-horizontal:hover > .os-scrollbar-track:before,
.os-theme-block-dark > .os-scrollbar-horizontal.active > .os-scrollbar-track:before
    left: 0
    right: 0
    height: 100%
    top: 0
    margin-top: 0
.os-theme-block-dark > .os-scrollbar-vertical:hover > .os-scrollbar-track:before,
.os-theme-block-dark > .os-scrollbar-vertical.active > .os-scrollbar-track:before
    top: 0
    bottom: 0
    width: 100%
    left: 0
    margin-left: 0
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle
    background: transparent
.os-theme-block-dark > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle
    min-width: 100px
    max-width: 100px
.os-theme-block-dark > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle
    min-height: 100px
    max-height: 100px
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before
    content: ''
    display: block
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    background: $orange
.os-theme-block-dark.os-host-scrolling > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before
    background: $orange
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:hover:before,
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active:before
    background: $orange
.os-theme-block-dark > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle
    height: 100%
    min-width: 16px
.os-theme-block-dark > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle
    width: 100%;
    min-height: 16px
.os-theme-block-dark.os-host-transition > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before
    transition: background 0.3s
.os-theme-block-dark.os-host-transition > .os-scrollbar > .os-scrollbar-track:before
    transition: margin 0.3s, height 0.3s, width 0.3s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s
.os-viewport
    -webkit-backface-visibility: hidden
    -webkit-transform: translate3d(0,0,0)