.blog
    margin-top: 50px
    padding-bottom: 70px
    .form
        .input
            height: 53px
            background-color: $gray-200
            border: none
        .button
            height: 53px
    &-sidebar
        .blog
            &_nav
                padding: 30px 30px 30px - 17px
                .list
                    flex-direction: column
                    li
                        a
                            display: flex
                            align-items: center
                            color: $black
                            text-transform: uppercase
                            font-size: 20px
                            font-variation-settings: "wdth" 75, "wght" 400
                            letter-spacing: 1px
                            margin-bottom: 17px
                            transition: all 0.3s ease
                            &:hover, &.active
                                text-decoration: none
                                color: $orange
                    &_nested
                        li
                            a
                                padding-left: 21px
                                position: relative
                                &:before
                                    content: ''
                                    width: 8px
                                    height: 2px
                                    display: block
                                    background-color: $orange
                                    position: absolute
                                    left: 0
            &-block
                border: 2px solid $orange
                padding: 30px
                margin-bottom: 16px
                .heading
                    text-transform: uppercase
                    display: block
                    font-size: 24px
                    font-weight: 400
                    font-variation-settings: "wdth" 75, "wght" 600
                    letter-spacing: 1px
            &_themes
                .list
                    flex-wrap: wrap
                    margin-top: 25px
                    li
                        margin-right: 5px
                        margin-bottom: 5px
                        a
                            display: flex
                            background-color: $orange
                            color: $white
                            font: 17px "PT Sans Narrow", sans-serif
                            height: 27px
                            padding: 0 8px
                            transition: all 0.3s ease
                            &:hover
                                text-decoration: none
                                background-color: darken($orange, 10%)
            &_subscribe
                .form
                    margin-top: 28px
            &-widget
                margin-top: 38px
                margin-bottom: 38px
    .block
        border: 1px solid $gray-500
        display: flex
        flex-direction: column
        height: calc(100% - 27px)
        margin-bottom: 27px
        .preview
            display: block
            height: 300px
            width: 100%
            object-fit: cover
            object-position: 50%
        .blog-info
            padding: 27px 25px
            border-top: 1px solid $gray-500
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 100%
            a
                color: $black
                transition: all 0.3s ease
                &:hover
                    text-decoration: none
                    color: $orange
            .title
                display: block
                text-transform: uppercase
                font-size: 24px
                font-weight: 400
                font-variation-settings: "wdth" 75, "wght" 400
                letter-spacing: 1px
            .list
                margin-top: 17px
                flex: 0 0 19px
                align-items: center
                li
                    margin-right: 19px
                    p
                        display: flex
                        align-items: center
                        margin: 0
                        text-transform: uppercase
                        font: 16px 'Bahnschrift Condensed', sans-serif
                        font-variation-settings: "wdth" 75, "wght" 300
                        color: $gray-600
                        img
                            display: block
                            align-self: center
                            width: 18px
                            height: 18px
                            object-fit: contain
                            flex: 0 0 18px
                            margin-right: 14px
                            margin-top: -1px
                    &:last-child
                        margin-right: 0
        &_category
            min-height: 450px
            position: relative
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 40px
            img
                position: absolute
                object-fit: cover
                object-position: 50%
                width: 100%
                height: 100%
                margin: -40px
                filter: brightness(0.3)
            p,b
                position: relative
                z-index: 1
                color: $white
            p
                margin: 0
                font-size: 20px
            b
                display: block
                font: 36px 'Bahnschrift Condensed', sans-serif
                font-variation-settings: "wdth" 75, "wght" 300
                letter-spacing: 1px
                text-transform: uppercase 
    &-pagination
        display: flex
        justify-content: space-between
        .button
            &:before
                content: '←'
                margin-right: 22px
            &:after
                content: '→'
                margin-left: 22px
            &:before, &:after
                color: $orange
                line-height: 1
                transition: all 0.3s ease
            &:hover
                &:before, &:after
                    color: $white
            &_prev
                &:after
                    display: none
            &_next
                margin-left: auto
                &:before
                    display: none
    .blog-post
        border: 2px solid $orange
        &-poster
            width: 100%
        &-text
            padding: 15px 20px
            p
                font-size: 18px
                margin-bottom: 5px
            img, iframe
                width: 100% !important
                padding-top: 15px !important
                padding-bottom: 15px !important
            .list
                margin-top: 17px
                margin-bottom: 20px
                flex: 0 0 19px
                align-items: center
                li
                    margin-right: 19px
                    p
                        display: flex
                        align-items: center
                        margin: 0
                        text-transform: uppercase
                        font: 16px 'Bahnschrift Condensed', sans-serif
                        font-variation-settings: "wdth" 75, "wght" 300
                        color: $gray-600
                        img
                            display: block
                            align-self: center
                            width: 18px !important
                            height: 18px
                            object-fit: contain
                            flex: 0 0 18px
                            margin-right: 14px
                            margin-top: -1px
                            padding: 0 !important
                        a
                            color: $black
                            transition: all 0.3s ease
                            &:hover
                                text-decoration: none
                                color: $orange
                    &:last-child
                        margin-right: 0
        &-title
            font-size: 40px
            font-weight: 400
            color: #000
            text-transform: uppercase
            max-width: 960px
            letter-spacing: 3px
            font-variation-settings: "wdth" 75, "wght" 300
            line-height: 1
            margin-bottom: 20px