@font-face
    font-family: 'Bahnschrift Condensed';
    src: url('https://varga-da.com/fonts/Bahnschrift Semilight Condensed.eot?#iefix') format('embedded-opentype'),  url('https://varga-da.com/fonts/Bahnschrift Semilight Condensed.woff') format('woff'), url('https://varga-da.com/fonts/Bahnschrift Semilight Condensed.ttf')  format('truetype'), url('https://varga-da.com/fonts/Bahnschrift Semilight Condensed.svg#Bahnschrift') format('svg');
    font-weight: normal
    font-style: normal

html, body
    height: 100%
    -webkit-font-smoothing: antialiased
body
    display: flex
    flex-direction: column
    font: 14px 'Bahnschrift Condensed', sans-serif
p
    font-family: "PT Sans Narrow", sans-serif
.wrapper
    flex: 1 0 auto
    overflow-x: hidden
    overflow: hidden
    width: 100%
    max-width: 100%
.footer
    flex-shrink: 0

@import "rangeslider"
@import "slick"
@import "slick-theme"
@import "magnific-popup"
@import "lightgallery"

@import "baseblocks"
@import "header"
@import "content"
@import "index"
@import "events"
@import "results"
@import "learning"
@import "myprojects"
@import "earn"
@import "aboutme"
@import "enter"
@import "academy"
@import "blog"
@import "tkr"
@import "footer"

@import "media"