.mfp-popup
    position: relative
    background: $white
    padding: 64px - 25px 60px
    width: auto
    max-width: 1140px
    margin: 20px auto
    >.title
        display: block
        text-transform: uppercase
        font-weight: 400
        font-size: 36px
        font-variation-settings: "wdth" 75, "wght" 300
        letter-spacing: 1px
        margin-bottom: 30px
        margin-top: 25px
        span
            color: $orange
    .heading
        display: block
        font-weight: 400
        text-transform: uppercase
        font-size: 24px
        font-variation-settings: "wdth" 75, "wght" 400
        color: $orange
        letter-spacing: 1px
        margin: 0px 0 10px
    .description
        font-size: 19px
        margin-bottom: 10px
    .form
        .button
            letter-spacing: 2px
            font-size: 30px
    .buttons
        .button
            @extend %button-with-image
            color: $black
            &:hover
                color: $white
    .list
        margin-bottom: 30px
        li
            p
                margin-bottom: 0
    .course-package
        .upper
            .title
                flex: 0 0 200px
            .price
                margin: 0 auto
                flex: 0 0 auto
                font-size: 32px
            .button
                flex: 0 0 100px
.mfp-iframe-holder
    .mfp-content
        height: 100%
.mfp-fade.mfp-bg 
    opacity: 0
    transition: all 0.15s ease-out
.mfp-fade.mfp-bg.mfp-ready 
    opacity: 0.8
.mfp-fade.mfp-bg.mfp-removing 
    opacity: 0
.mfp-fade.mfp-wrap .mfp-content 
    opacity: 0
    transition: all 0.15s ease-out
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
    opacity: 1
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
    opacity: 0
#thankyou
    max-width: 555px
    .image-check
        display: block
        width: 92px
        height: 92px
        margin: 0 auto
        border: 9px solid $orange
        border-radius: 50%
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23caac7d' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center / 48px
    .title
        text-align: center
        margin: 35px 0 20px
        letter-spacing: 2px
    p
        text-transform: uppercase
        text-align: center
        font: 22px 'Bahnschrift Condensed', sans-serif
        font-variation-settings: "wdth" 75, "wght" 300
        letter-spacing: 1px
#no-access
    max-width: 740px
    .title
        text-align: center
    .buttons
        display: flex
        flex-direction: column
        align-items: center
        .button
            width: 100%
#pay-access
    max-width: 1170px
.input
    background: none
    padding: 24px 0
    border: none
    font: 20px "PT Sans Narrow", sans-serif
    border-radius: 0
    color: $black
    margin-bottom: 13px
    height: 45px
    border: none
    border-bottom: 2px solid $gray-500
    +placeholder
        font-size: 16px
        color: $black
    &:focus
        border-radius: 0
        border-bottom: 2px solid $orange
        box-shadow: none
.form
    .button
        width: 100%
        height: 66px
    .custom-file
        height: 66px
        margin-bottom: 13px
        &-input, &-label
            height: 66px
        &-label
            font-size: 18px
            font-weight: 600
            color: $white
            background: none
            border: 2px solid $white
            border-radius: 3px
            display: flex
            align-items: center
            padding: 24px 30px
            &:after
                content: ''
                width: 66px
                height: 62px
                padding: 0
                border: none
                background: url("../img/icons/form-file.svg") no-repeat center center / 28px
                right: 10px
    .input
        border: 2px solid $gray-300
        height: 66px
        padding: 0 25px
        +placeholder
            color: $gray-500
    .textarea
        border: 2px solid $gray-300
        padding: 0 25px
        margin-bottom: 13px
        border-radius: 0
        +placeholder
            color: $gray-500
.custom-checkbox
    .custom-control-label
        color: $gray-500
        font: 14px "PT Sans Narrow", sans-serif
        margin-top: 20px
        &:before, &:after
            border-radius: 50%
        &:before
            background: none
            border: 2px solid $gray-500
            top: 1px
        &:after
            width: 10px
            height: 10px
            top: 4px
            left: -21px
    .custom-control-input:checked, .custom-control-input:active
        ~ .custom-control-label
            &:before
                background: none
            &:after
                background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23adb5bd' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
    &_alt
        padding-left: 43px
        .custom-control-label
            color: $black
            font: 19px "PT Sans Narrow", sans-serif
            margin-top: 12px
            &:before, &:after
                border-radius: 0
            &:before
                background: none
                width: 24px
                height: 24px
                border: 2px solid $gray-500
                top: 1px
                left: -43px
            &:after
                width: 20px
                height: 20px
                top: 4px
                left: -41px
        .custom-control-input:checked, .custom-control-input:active
            ~ .custom-control-label
                &:before
                    background: none
                    border: 2px solid $orange
                &:after
                    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23caac7d' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")