.main_earn
    background: url("../img/earn__bg.jpg?v=2") no-repeat center center
    color: $white
    min-height: 770px
    padding-top: 60px
    h1
        text-transform: uppercase
        font-weight: 400
        font-size: 60px
        font-variation-settings: "wdth" 75, "wght" 300
        margin-bottom: 10px
        span
            color: $orange
    .description
        font-size: 19px
        margin-bottom: 30px
    .button
        @extend %button-with-image
.earn-reason
    background-color: #f4f4f4
    padding-bottom: 110px - 30px
    .block
        .title
            text-transform: uppercase
            font-weight: 400
            color: $orange
            display: block
            font-size: 36px
            font-variation-settings: "wdth" 75, "wght" 300
            margin-bottom: 20px
        .description
            margin-bottom: 30px
.earn-bonus
    background-color: #f4f4f4
    padding-bottom: 90px - 30px
    .block
        display: flex
        flex-direction: column
        justify-content: space-between
        height: calc(100% - 30px)
        margin-bottom: 30px
        .upper
            flex: 1 1 auto
            img
                display: block
                width: 90px
                margin-bottom: 40px
            .title
                text-transform: uppercase
                font-weight: 400
                font-size: 30px
                font-variation-settings: "wdth" 75, "wght" 400
                display: block
                margin-bottom: 20px
        .link
            flex: 0 0 21px
            margin-top: 44px
        &-heading
            margin-bottom: 60px
.earn-stats
    background-color: #f4f4f4
    padding-bottom: 30px
    .block
        &-heading
            text-align: center
            max-width: 940px
            margin: 50px auto
    .list
        justify-content: space-between
        margin-bottom: 30px
        li
            flex: 0 0 20%
            margin-bottom: 30px
            .counter
                display: block
                color: $orange
                font-weight: 400
                font-size: 100px
                font-variation-settings: "wdth" 75, "wght" 300
                text-align: center
            .title
                display: block
                text-transform: uppercase
                font-weight: 400
                font-size: 24px
                font-variation-settings: "wdth" 75, "wght" 400
                text-align: center
    .button
        letter-spacing: 1px
        height: 70px
        margin-bottom: 30px
        img
            width: 35px
            margin-right: 30px
.earn-footer
    background: url("../img/earn__footer.jpg?v=2") no-repeat center center
    min-height: 770px
    padding-top: 60px
    h3
        text-transform: uppercase
        font-weight: 400
        font-size: 60px
        font-variation-settings: "wdth" 75, "wght" 300
        margin-bottom: 10px
        span
            color: $orange
    .description
        font-size: 19px
        margin-bottom: 30px
    .button
        letter-spacing: 2px
        margin-bottom: 14px
        max-width: 460px
        height: 70px
        img
            width: 35px
            margin-right: 30px
.earn-choose
    padding-bottom: 85px
    .block
        &-heading
            margin-bottom: 85px
    .table
        margin-bottom: 37px
        table-layout: fixed
        tr
            td
                border: 2px solid $orange
                height: 62px
                vertical-align: middle
                width: 33.3333%
                .title
                    display: block
                    text-align: center
                    text-transform: uppercase
                    font-weight: 300
                    font-size: 48px
                    font-variation-settings: "wdth" 75, "wght" 300
                .text
                    display: block
                    text-align: center
                    text-transform: uppercase
                    font-weight: 400
                    font-size: 20px
                    font-variation-settings: "wdth" 75, "wght" 400
                &.center
                    border: none
                    .title
                        font-size: 36px
                        font-weight: 400
                        font-variation-settings: "wdth" 75, "wght" 400
                    .text
                        font-size: 24px
                        letter-spacing: 2px
            &:first-child
                td
                    height: 94px
    .button
        width: 388px
        flex: 0 0 388px
.earn-success
    background: url("../img/earn__success-bg.png") no-repeat center 405px
    padding-right: 145px
    margin-right: -145px
    padding-bottom: 70px
    .block
        margin-bottom: 40px
        &-heading
            margin-bottom: 30px
        &-desc
            text-transform: none
            margin-bottom: 20px
            font: 19px "PT Sans Narrow", sans-serif
        .counter
            color: $orange
            font-weight: 400
            font-size: 48px
            font-variation-settings: "wdth" 75, "wght" 300
        .description
            font-size: 19px
.earn-interview
    padding-bottom: 82px
    .block
        &-heading
            margin-bottom: 60px
    .carousel
        .carousel-cell
            border: 4px solid $orange
            margin-bottom: 135px
            .story
                padding: 44px 10px 44px 44px
                .description
                    min-height: 150px
                a
                    display: block
                    color: $orange
                    text-decoration: underline
                    font: 18px "PT Sans Narrow", sans-serif
                    margin-top: 25px
                .author
                    display: flex
                    align-items: flex-start
                    margin-top: 30px
                    margin-bottom: -44px - 50px
                    .avatar
                        display: block
                        width: 104px
                        height: 104px
                        flex: 0 0 104px
                        object-fit: cover
                        object-position: 50%
                        margin-right: 30px
                    div
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        min-height: 104px
                        .name
                            text-transform: uppercase
                            font: 30px 'Bahnschrift Condensed', sans-serif
                            font-variation-settings: "wdth" 75, "wght" 300
                            letter-spacing: 1px
                            margin: 0
                        .salary
                            color: $orange
                            font-size: 24px
                            margin: 0
            .embed-responsive
                height: 100%
            &:focus
                outline: 0
        &-buttons
            position: relative
            width: 130px
            margin: -40px auto 40px
            z-index: 2
            .slick-prev,.slick-next
                background: $white
                width: 65px
                height: 50px
                border-radius: 0px
                border: 2px solid $orange
                z-index: 2
                top: 7px
                transition: all 0.3s ease
                &:before
                    content: '→'
                    color: $orange
                    background: none
                    display: block
                    width: 100%
                    height: 100%
                    font: 32px 'Bahnschrift Condensed', sans-serif
                    font-variation-settings: "wdth" 75, "wght" 600
                &:hover
                    background: $orange
                    &:before
                        color: $white
            .slick-prev
                left: 2px
                &:before
                    transform: rotate(180deg) translateY(2px)
            .slick-next
                right: 2px
                &:before
                    transform: rotate(360deg) translateY(2px)