.enter-page
    background: url('../img/enter__bg.jpg?v=2') no-repeat center center / cover, #111
    min-height: 100vh
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__logo
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 55px
        .navbar-brand
            img
                width: 233px
                filter: invert(1) brightness(2)
        .header__user
            color: $white
    .heading
        display: block
        text-align: center
        text-transform: uppercase
        font-weight: 400
        color: $white
        font-size: 24px
        font-variation-settings: "wdth" 75, "wght" 400
        max-width: 550px
        margin: 0 auto
    &__buttons
        display: flex
        justify-content: space-between
        margin-top: 55px
        margin-bottom: 40px
        .button
            color: $white
            letter-spacing: 2px
            margin-bottom: 14px
            max-width: 460px
            height: 70px
            img
                width: 35px
                margin-right: 30px
    .note
        text-align: center
        color: #888888