.events
    padding-bottom: 72px
    border-top: 1px solid $gray-300
    .block
        &-heading
            margin-bottom: 44px
    .event
        margin-bottom: 30px
        &__preview
            background-color: #efefef
            position: relative
            height: 170px
            img
                display: block
                width: 100%
                height: 100%
                object-fit: cover
                object-position: 50%
            .timer
                position: absolute
                top: 30px
                left: 0
                background-color: $orange
                min-width: 140px
                padding: 15px 0
                b
                    color: $white
                    display: block
                    text-transform: uppercase
                    font-size: 20px
                    font-weight: 400
                    text-align: center
                    font-variation-settings: "wdth" 75, "wght" 600
        &__info
            margin-top: 19px
            .upper
                display: flex
                align-items: center
                margin-bottom: 15px
                .date
                    margin: 0
                    color: $gray-500
                    font-size: 16px
                    flex: 0 0 180px
            .list
                margin-top: 15px
                li
                    display: flex
                    align-items: center
                    margin-right: 23px
                    img
                        width: 15px
                        margin-right: 9px
                    &:last-child
                        margin-right: 0
            .title
                display: block
                text-transform: uppercase
                font-size: 18px
                letter-spacing: 1px
                font-weight: 400
                font-variation-settings: "wdth" 75, "wght" 600
                min-height: 44px
            .author
                color: $gray-500
                font-size: 16px
                margin: 10px 0 0
        &_featured
            .event
                &__preview
                    height: auto
                    .timer
                        min-width: 190px
                        padding: 20px 0
                        top: 100px
                &__info
                    .list
                        margin-top: 0
                        margin-left: 15px
                    .title
                        font-size: 24px
                        letter-spacing: 2px