.footer
    background-color: #151515
    padding: 39px 0
    color: $white
    &-logo
        display: block
        width: 175px
        filter: invert(1)
    .logo
        display: flex
        align-items: center
        .header__user
            margin-top: 3px
            .user
                .image
                    background-color: $white
            >p
                margin: 0 16px
    &-list
        display: flex
        list-style: none
        margin: 0
        padding: 0
        font-size: 12px
        line-height: 1.5
        &_socials
            margin: 19px 0
            padding: 0
            li
                margin-right: 9px
                a
                    display: flex
                    width: 35px
                    height: 35px
                    flex: 0 0 35px
                    justify-content: center
                    align-items: center
                    border: 2px solid $orange
                    border-radius: 50%
                    color: $orange
                    img
                        display: block
                        width: 18px
                        height: 18px
                        flex: 0 0 18px
                    &:hover
                        color: $white
                        text-decoration: none
                    &:focus
                        outline: 0
                &:last-child
                    margin-right: 0
        &_nav
            margin-left: 0px
            flex-direction: column
            flex-wrap: wrap
            max-height: 170px
            width: 100%
            li
                margin-bottom: 17px
                a
                    font-size: 18px
                    text-decoration: none
                    text-transform: uppercase
                    transition: all 0,3s ease
                    color: $white
                    font-variation-settings: "wdth" 75, "wght" 600
                    &:hover
                        color: $orange
                        text-decoration: none
                &:nth-child(4n)
                    margin-bottom: 0
    &-link
        display: block
        color: $orange
        transition: all 0.3s ease
        font-size: 14px
        line-height: 1.5
        text-decoration: underline
        font-variation-settings: "wdth" 85, "wght" 300
        &:hover
            color: $white
        &:focus
            outline: 0
    &-phone
        display: block
        color: $white
        font-size: 14px
        line-height: 1.5
        font-variation-settings: "wdth" 85, "wght" 300
        margin-bottom: 6px
        &:hover
            color: $white
    &-text
        font-variation-settings: "wdth" 85, "wght" 300
        margin-bottom: 6px
        line-height: 1.5