.button
    appearance: none
    display: flex
    justify-content: center
    align-items: center
    background: none
    color: $black
    padding: 10px 16px
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    border: 2px solid $orange
    border-radius: 0
    height: 50px
    text-transform: uppercase
    font-size: 18px
    font-variation-settings: "wdth" 75
    -webkit-font-smoothing: antialiased
    &:hover
        background-color: $orange
        color: $white
        text-decoration: none
        img
            filter: saturate(0) brightness(2)
            transition: all 0.3s ease
    &:focus
        outline: 0
.header
    height: 158px
    overflow: visible
    position: relative
    z-index: 5
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)
    .navbar-brand
        margin-right: 0rem
        padding: 0
        img
            width: 175px
    &-logo-img
        width: 175px
        height: 58px
        margin: 5px 0
    &__navbar
        align-items: flex-start
        padding: 15px 0 0
        &-collapse
            flex-direction: column
            align-items: flex-end
            .navbar-nav
                padding-top: 10px
                width: 1170px
                justify-content: space-between
                position: relative
                .nav-item
                    .nav-link
                        color: $black
                        position: relative
                        text-transform: uppercase
                        font-size: 22px
                        font-variation-settings: "wdth" 75
                        -webkit-font-smoothing: antialiased
                        transition: all 0.3s ease
                        &:after
                            content: ''
                            position: absolute
                            top: -10px
                            left: 0px
                            height: 2px
                            width: 100%
                            background-color: $orange
                            transition: all 0.3s ease
                            transform: scaleX(0)
                            z-index: 2
                    &.active, &:hover
                        .nav-link
                            color: $orange
                            &:after
                                transform: scaleX(1)
                        .dropdown
                            >.nav-link
                                .angle
                                    filter: none !important
                .dropdown
                    .dropdown-menu
                        .nav-link
                            color: $black
                            &:hover
                                color: $orange
                    >.nav-link
                        display: flex
                        .angle
                            content: ''
                            display: block
                            width: 20px
                            height: 20px
                            background: url("../img/icons/angle-right.svg") no-repeat center center / contain
                            filter: saturate(0) brightness(0)
                            transform: rotate(-90deg)
                            position: relative
                            right: -10px
                            top: 3px
                            transition: all 0.3s ease
                    &.show
                        >.nav-link
                            color: $orange
                            .angle
                                filter: none
                                transform: rotate(90deg)
                            &:after
                                transform: scaleX(1)
                    .dropdown-menu
                        min-width: 200px
                        .nav-link
                            &:after
                                display: none
                &:after
                    content: ''
                    width: 100vw
                    height: 1px
                    position: absolute
                    display: block
                    right: 50%
                    top: 0
                    background-color: $gray-300
                    transform: translateX(50%)
    .navbar-toggler
        display: none
        position: relative
        overflow: hidden
        margin: 0
        padding: 0
        width: 40px
        height: 40px
        font-size: 0
        text-indent: -9999px
        appearance: none
        box-shadow: none
        border-radius: 0!important
        border: none
        cursor: pointer
        transition: background 0.3s
        &:focus
            outline: 0
        span
            display: block
            position: absolute
            top: 18px
            left: 0px
            right: 0px
            height: 3px
            background: rgba(202, 172, 125, 1)
            transition: background 0s 0.3s ease
            &:before, &:after
                position: absolute
                display: block
                left: 0
                width: 100%
                height: 3px
                background-color: $orange
                content: ""
            &:before
                top: -18px
                transition: top 0.3s 0.3s ease, transform 0.3s ease
            &:after
                bottom: -18px
                transition: bottom 0.3s 0.3s ease, transform 0.3s ease
        &[aria-expanded=true]
            span
                background: rgba(202, 172, 125, 0)
                &:before
                    top: 0
                    transform: rotate(45deg)
                    transition: top 0.3s ease, transform 0.3s 0.3s ease
                &:after
                    bottom: 0
                    transform: rotate(-45deg)
                    transition: bottom 0.3s ease, transform 0.3s 0.3s ease
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        margin-top: 7px
    &__user
        display: flex
        align-items: center
        p
            margin: 0
        >p
            font-weight: 400
            font: 24px 'Bahnschrift Condensed', sans-serif
            margin: 0 30px
        .user
            display: flex
            align-items: center
            .image
                background: $black
                width: 55px
                height: 55px
                flex: 0 0 55px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%
                margin-right: 20px
                img
                    display: block
                    width: 53px
                    height: 53px
                    flex: 0 0 53px
                    border-radius: 50%
            div
                max-height: 55px
                p
                    text-transform: uppercase
                    font-size: 16px
                    font-family: 'Bahnschrift Condensed', sans-serif
                    font-variation-settings: "wdth" 75
    &__lang-switch
        display: flex
        align-items: center
        margin-left: auto
        margin-right: -10px
        a
            display: flex
            width: 50px
            height: 50px
            flex: 0 0 50px
            justify-content: center
            align-items: center
            color: $black
            text-decoration: none
            margin-right: 10px
            text-align: center
            text-transform: uppercase
            font-size: 18px
            font-variation-settings: "wdth" 75
            -webkit-font-smoothing: antialiased
            &:hover
                text-decoration: none
            &.active
                border: 2px solid $orange
    &__button
        @extend .button
        width: 180px
        flex: 0 0 180px
        height: 50px
        margin-left: 15px
        img
            transition: all 0,3s ease
            width: 20px
            margin-right: 15px
            margin-top: -4px
.main
    &__carousel
        padding: 0
        .carousel
            margin-bottom: -5px
            .slick-prev,.slick-next
                background: none
                width: 28px
                height: 50px
                border-radius: 0px
                z-index: 2
                top: 7px
                &:before
                    content: ''
                    background: url("../img/icons/angle-left.svg") no-repeat center center / contain
                    display: block
                    width: 100%
                    height: 100%
            .slick-prev
                left: -35px
                &:before
                    transform: rotate(360deg)
            .slick-next
                right: -35px
                &:before
                    transform: rotate(180deg)
            .carousel-cell
                width: 100%
                height: 770px
                padding: 60px 0 0
                position: relative
                background: url("../img/slides/slide-1.jpg") no-repeat center center
                &:focus
                    outline: 0
                &__buttons
                    display: flex
                    align-items: center
                    flex: 0 0 70px
                    justify-self: flex-end
                    margin-top: auto
                    margin-bottom: 90px
                    .button
                        width: 100%
                        max-width: 293px
                        color: $white
                        height: 70px
                    .slider-switch
                        position: relative
                        display: flex
                        align-items: center
                        margin-left: 67px
                        justify-content: center
                        p
                            margin: 0
                            color: #696969
                            text-transform: uppercase
                            font-size: 14px
                &__image
                    display: block
                    width: 100%
                &__wrapper
                    max-width: 1170px
                    margin: 0 auto
                    position: relative
                    height: 100%
                    display: flex
                    flex-direction: column
                    justify-content: center
                    h1
                        color: $white
                        text-transform: uppercase
                        max-width: 700px
                        font-size: 80px
                        font-weight: 400
                        font-variation-settings: "wdth" 75, "wght" 300
                        letter-spacing: 5px
                        line-height: 1
                        b
                            display: block
                            font-variation-settings: "wdth" 75, "wght" 300
                            font-size: 120px
                            line-height: 1.1
                            letter-spacing: 10px
                            margin-bottom: -5px
                            font-weight: 400
                        span
                            color: $orange
                    >p
                        max-width: 630px
                        color: $white
                        margin: 30px 0 60px
                        font-size: 23px
                        font-variation-settings: "wdth" 90, "wght" 300
                &_slide
                    &-1
                        background: url("../img/slides/slide-1.jpg?v=2") no-repeat center center
                    &-2
                        background: url("../img/learning__bg.jpg") no-repeat center center
                    &-3
                        background: url("../img/earn__bg.jpg") no-repeat center center
                    &-4
                        background: url("../img/slides/slide-4.jpg") no-repeat center center