.product
    border: 4px solid $orange
    padding: 40px
    margin-bottom: 28px
    .heading
        display: block
        font-size: 36px
        font-weight: 200
        text-transform: uppercase
        font-variation-settings: "wdth" 75, "wght" 300
        letter-spacing: 2px
        max-width: 360px
    .description
        @extend .description
        font-size: 17px
        a
            color: $orange
            text-decoration: underline
        span
            display: none
            &.shown
                display: inline
    .link
        margin: 20px 0
    .tags
        margin-top: 30px
        flex-direction: row
        li
            display: flex
            position: relative
            p
                text-transform: uppercase
                color: #929292
                font-size: 17px
                font-variation-settings: "wdth" 75, "wght" 600
                margin: 0
            &:after
                content: '-'
                color: #929292
                margin: 0 10px
            &:last-child
                &:after
                    display: none
    .price
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 30px
        p
            margin: 0
            font-family: 'Bahnschrift Condensed', sans-serif
            font-size: 24px
            text-transform: uppercase
            font-variation-settings: "wdth" 75, "wght" 600
            .cost
                color: $orange
                font-size: 36px
                margin-left: 5px
            .quantity
                display: block
                color: #929292
                font-size: 16px
        .button
            padding: 18px 34px
    .note
        @extend .description
        line-height: 1.1
        margin-top: 25px
        max-width: 100%
.formats
    margin-top: 30px
    .block
        &-heading
            &:after
                transform: rotate(30deg)
    .list
        flex-direction: column
        margin-top: 50px
        li
            display: flex
            align-items: center
            border-bottom: 1px solid #e1e1e1
            padding: 30px 0
            .left
                display: flex
                align-items: center
                flex: 0 0 260px
                margin-right: 30px
                .counter
                    display: block
                    width: 67px
                    color: $orange
                    font-size: 83px
                    font-weight: 400
                    font-variation-settings: "wdth" 75, "wght" 300
                    margin-right: 30px
                .title
                    display: block
                    margin-top: -7px
                    font-size: 30px
                    text-transform: uppercase
                    font-weight: 400
                    line-height: 1.3
                    font-variation-settings: "wdth" 75, "wght" 300
            .right
                display: flex
                flex-direction: column
                align-items: flex-end
                flex: 0 0 230px
                .price
                    margin: 0
                    font-family: 'Bahnschrift Condensed', sans-serif
                    font-size: 30px
                    text-transform: uppercase
                    font-variation-settings: "wdth" 75, "wght" 300
                    span
                        color: $orange
                        font-size: 60px
                .link
                    letter-spacing: 1px
            .center
                flex: 1 0 auto
                .description
                    max-width: 580px
            &:last-child
                border: none
.make-instead
    margin-top: 50px
    margin-bottom: -40px
    .block
        &-heading
            &:after
                content: '01'
                background: none
        &-desc
            margin-bottom: 120px
    .product
        .heading
            max-width: 100%
        .description
            min-height: 140px
        .button
            min-width: 280px
.no-guarantee
    display: flex
    align-items: center
    border: 4px solid $black
    padding: 40px
    justify-content: center
    .heading
        display: block
        font-size: 48px
        font-weight: 200
        text-transform: uppercase
        font-variation-settings: "wdth" 75, "wght" 300
        letter-spacing: 2px
    .link
        font-size: 24px
        margin: 0 0 0 70px
.make-together
    margin-top: 115px
    margin-bottom: 72px - 28px
    .block
        &-heading
            &:after
                content: '02'
                background: none
        &-desc
            margin-bottom: 120px
    .product
        .description
            min-height: 115px
        .note
            min-height: 0px
.course-contains
    background-color: #f9f9f9
    padding-bottom: 15px
    .block
        &-heading
            max-width: 100%
            &:after
                display: none
    .list
        flex-wrap: wrap
        margin-top: 60px
        li
            flex: 0 0 20%
            margin-bottom: 55px
            img
                display: block
                height: 68px
                margin: 0 auto 27px
            p
                margin: 0
                font-size: 20px
                text-transform: uppercase
                font-variation-settings: "wdth" 75, "wght" 300
                text-align: center
.make-money
    background: url("../img/make-money__bg.jpg?v=3") no-repeat center top
    padding-top: 40px
    min-height: 900px
    .block
        &-heading
            z-index: 2
            &:after
                content: '03'
                background: none
                z-index: -1
                color: #dadada
        &-desc
            position: relative
            z-index: 2
    .accordion
        position: relative
        z-index: 2
    .link
        appearance: none
        cursor: pointer
        background: none
        border: none
        color: $black
        padding: 20px 0
        text-transform: uppercase
        display: inline-block
        font-size: 36px
        font-variation-settings: "wdth" 75, "wght" 400
        position: relative
        z-index: 1
        &:hover
            text-decoration: none
        &:after
            content: ''
            display: none
            background: url('data:image/svg+xml;utf8,<svg width="8" height="2" viewBox="0 0 8 2" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="2" height="2" fill="%23caac7d"/></svg>')
            width: 100%
            height: 2px
            position: absolute
            bottom: 20px
            left: -14px
        &:focus
            outline: 0
        &.collapsed
            color: $orange
            font-variation-settings: "wdth" 75, "wght" 300
            &:after
                display: block
    .description
        @extend .description
    &_continue
        margin-top: 80px
        margin-bottom: 40px
        .cta
            display: flex
            align-items: center
            padding: 48px 60px
            border: 4px solid $orange
            margin-bottom: 94px
            .heading
                display: block
                text-transform: uppercase
                font-size: 48px
                font-weight: 400
                font-variation-settings: "wdth" 75, "wght" 400
                line-height: 1.1
                flex: 0 0 250px
            div
                margin-left: 60px
                p
                    @extend .description
                    line-height: 1.2
                    margin-bottom: 5px
                a
                    color: $orange
                    font-size: 18px
                    font-variation-settings: "wdth" 90, "wght" 300
                    text-decoration: underline
        .feature-block
            .heading
                display: block
                text-transform: uppercase
                font-size: 60px
                font-weight: 300
                font-variation-settings: "wdth" 75, "wght" 300
                position: relative
                padding-bottom: 42px
                margin-bottom: 50px
                &:after
                    content: ''
                    width: 165px
                    height: 2px
                    background-color: $black
                    position: absolute
                    bottom: 0
                    left: 0
            .list
                flex: 0 0 auto
                li
                    padding-left: 66px
                    margin-bottom: 45px
                    b
                        display: block
                        text-transform: uppercase
                        font-size: 24px
                        font-weight: 400
                        font-variation-settings: "wdth" 75, "wght" 400
                        margin-bottom: 5px
                    p
                        line-height: 1.3
                    &:before
                        width: 18px
                        height: 18px
                        border: 3px solid $black
                        left: 0
                        top: 4px
                    &:after
                        width: 8px
                        height: 8px
                        background-color: $black
                        top: 9px
                        left: 5px
            &_right
                .heading
                    &:after
                        background-color: $orange
                .list
                    li
                        &:before
                            border-color: $orange
                        &:after
                            background-color: $orange
.companies
    padding-bottom: 87px
    &-block
        border: 4px solid $orange
        padding: 40px
        .heading
            display: block
            font-size: 36px
            font-weight: 200
            text-transform: uppercase
            font-variation-settings: "wdth" 75, "wght" 300
            letter-spacing: 2px
        .description
            @extend .description
            font-size: 17px
            max-width: 440px
            min-height: 140px
        .link
            margin: 37px 0 30px
        div
            display: flex
            align-items: center
            justify-content: space-between
            margin-top: 40px
            .price
                text-transform: uppercase
                margin: 0
                font-family: 'Bahnschrift Condensed', sans-serif
                font-size: 24px
                font-variation-settings: "wdth" 75, "wght" 600
            .button
                padding: 18px 34px