.main_learning
    background: url("../img/learning__bg.jpg?v=2") no-repeat center center
    color: $white
    min-height: 770px
    padding-top: 105px
    h1
        text-transform: uppercase
        font-weight: 400
        font-size: 60px
        font-variation-settings: "wdth" 75, "wght" 300
        margin-bottom: 30px
        span
            color: $orange
            display: block
    .description
        font-size: 19px
        margin-bottom: 60px
    .button
        @extend %button-with-image
.learning-concept
    .list
        flex-direction: column
        margin-top: 65px - 30px
        li
            display: flex
            align-items: center
            border-bottom: 1px solid $gray-300
            padding: 30px 0
            .title
                text-transform: uppercase
                font-size: 30px
                font-weight: 400
                font-variation-settings: "wdth" 75, "wght" 300
                color: $orange
                flex: 0 0 320px
            .description
                font-size: 19px
                margin-left: 70px
                max-width: 700px
            &:last-child
                border-bottom: none
.courses
    margin-top: 0
    margin-bottom: 60px
    .block
        &-heading
            margin-bottom: 57px
.what-you-get
    margin-bottom: 40px
    .block
        margin-bottom: 40px
        &-heading
            margin-bottom: 60px
        .counter
            color: $orange
            font-weight: 400
            font-size: 48px
            font-variation-settings: "wdth" 75, "wght" 300
        .description
            font-size: 19px