@media (min-width: 1800px)
    .academy-main
        &__nav
            .list
                li
                    margin-right: 45px
                    &:last-child
                        margin-right: 0
        &__container
            .course-program
                .table-responsive
                    .table-partners
                        width: 100%
@media (min-width: 1500px) and (max-width: 1799px)
    .academy-main
        &__nav
            .list
                li
                    margin-right: 45px
                    &:last-child
                        margin-right: 0
        &__container
            .course-program
                .table-responsive
                    .table-partners
                        width: 1400px
@media (min-width: 1200px) and (max-width: 1440px)
    .academy-nav
        padding: 20px 10px
        width: 290px
        .list
            margin: 0 -10px
            width: calc(100% + 20px)
            li
                a
                    padding: 10px
    .academy-main
        margin-left: 290px
        .block
            &-heading
                font-size: 48px
                letter-spacing: 1px
        &__nav
            width: calc(100vw - 290px)
            padding: 15px
            .list
                li
                    a
                        p
                            font-size: 18px
                            font-variation-settings: "wdth" 75 , "wght" 400
                            letter-spacing: 0
            .account
                a
                    margin-left: 20px
        &__container
            padding: 45px 15px
            .course-costs
                padding-bottom: 35px
                .block
                    &-heading
                        margin: 0 0 30px
            .course-package
                padding: 20px
                .upper
                    .title
                        flex: 0 0 140px
                        font-size: 24px
                        margin-right: 15px
                    .link
                        font-size: 20px
                    .price
                        margin: 0 15px 0 auto
                        font-size: 30px
                    .button
                        flex: 0 0 100px
            .course-program
                .table-responsive
                    .table-partners
                        width: 1400px
                .table
                    thead
                        tr
                            th
                                padding: 10px
                                font-size: 20px
                    tbody
                        tr
                            td, th
                                padding: 10px
                            td
                                font-size: 16px
                        tr.divider
                            &:after
                                top: 11px
                                right: 30px
                                margin-left: -10px
@media (min-width: 1200px)
    .container
        max-width: 1200px
@media (min-width: 992px) and (max-width: 1199px)
    .header
        &__navbar-collapse
            .navbar-nav
                width: 100%
                padding-top: 3px
                margin-top: -10px
                .nav-item
                    .nav-link
                        font-size: 20px
                        text-align: center
                        &:after
                            top: -3px
        &__lang-switch
            margin-right: 0px
            margin-left: 15px
            a
                margin-right: 5px
        &__button
            margin-left: 10px
            width: auto
            flex: 1 1 auto
        &__user
            >p
                margin-left: 15px
    .main
        &__carousel
            .carousel
                .carousel-cell
                    &__wrapper
                        max-width: 960px
        &_aboutme
            h1
                font-size: 110px
        &_earn
            h1
                width: 640px
    .footer
        &-logo
            width: 140px
    .formats
        .list
            li
                .center
                    flex: 1 1 auto
                    .description
                        max-width: 100%
    .make-instead
        .product
            .description
                min-height: 200px
            .price
                flex-direction: column
                p
                    margin-bottom: 15px
    .make-money
        background-position: center top
        margin-right: -100px
        padding-right: 100px
    .companies
        &-block
            padding: 40px
            .heading
                font-size: 32px
            .description
                min-height: 176px
    .earn-choose
        .table
            &-center
                tr
                    td
                        .text
                            font-size: 20px
                            letter-spacing: 1px
        .button
            width: 310px
            flex: 0 0 310px
    .earn-success
        background: none
        padding-right: 0
        margin-right: 0
    .earn-footer
        padding-left: 130px
        margin-left: -130px
    .earn-stats
        .button
            line-height: 24px
            letter-spacing: 2px
    .aboutme-story
        background: none
        padding-left: 0
        margin-left: 0
    .competentions
        background: #f4f4f4
    .academy-nav
        padding: 5px
        width: 240px
        .logo
            margin-top: 10px
            margin-bottom: 15px
        .list
            margin: 0 -5px
            width: calc(100% + 10px)
            li
                a
                    padding: 20px 5px
    .academy-main
        margin-left: 240px
        .block
            &-heading
                font-size: 48px
                letter-spacing: 1px
        &__nav
            padding: 5px
            width: calc(100% - 240px)
            min-height: 74px
            .list
                li
                    a
                        p
                            font-size: 18px
                            font-variation-settings: "wdth" 75 , "wght" 400
                            letter-spacing: 0px
            .account
                margin-left: 15px
                .user
                    img
                        display: none
                a
                    margin-left: 15px
        .item
            &_book
                flex-direction: column
                align-items: flex-start
                .preview
                    width: 180px
                    height: 300px
                    flex: 0 0 300px
                .main
                    margin: 33px 0 30px 0
                .title
                    display: none
                    &_m
                        display: flex
                        width: 100%
                        text-align: left
                        font-size: 30px
                .buttons
                    flex: 0 0 auto
                    width: 100%
                    margin-left: 0
                    display: flex
                    justify-content: space-between
                    .button
                        max-width: 49%
                        width: 100%
        &__container
            margin-top: 74px
            padding: 45px 5px
            overflow: hidden
            .course-costs
                padding-bottom: 30px
                .block
                    &-heading
                        margin: 0 0 30px
            .course-package
                padding: 37px 20px
                .upper
                    .title
                        flex: 0 0 140px
                        font-size: 24px
                        margin-right: 15px
                    .link
                        font-size: 20px
                    .price
                        margin: 0 15px 0 auto
                        font-size: 30px
                    .button
                        flex: 0 0 100px
            .course-program
                .table-responsive
                    .table-partners
                        width: 1400px
                .table
                    thead
                        tr
                            th
                                padding: 10px
                                font-size: 20px
                    tbody
                        tr
                            td, th
                                padding: 10px
                            td
                                font-size: 16px
                        tr.divider
                            &:after
                                top: 11px
                                right: 30px
                                margin-left: -10px
    .course-program
        &__results
            .heading
                margin-bottom: 15px
            .buttons
                margin-top: 30px
                .button
                    max-width: 340px
                    line-height: 24px
                    letter-spacing: 2px
    .course-package
        .upper
            .title
                flex: 0 0 240px
            .button
                flex: 0 0 160px
    .partnership-calculator
        form
            .form-group
                label
                    font-size: 22px
    .blog
        &_home
            .block
                .blog-info
                    .title
                        flex: 0 0 87px
                    .list
                        flex: 0 0 35px
                &_category
                    min-height: 496px
                    max-height: 0
                    height: 100%
@media (min-width: 768px) and (max-width: 991px)
    .header
        position: fixed
        background-color: $white
        height: 180px
        width: 100%
        z-index: 3
        &__navbar-collapse
            background-color: $white
            z-index: 10
            margin-top: 70px
            .navbar-nav
                width: 100%
                padding-top: 0
                &:after
                    display: none
                .nav-item
                    .nav-link
                        font-size: 20px
                        text-align: center
                        &:after
                            top: 0
                            display: none
        &__top
            width: 400px
            flex-wrap: wrap
        &__user
            margin-bottom: 15px
            flex: 0 0 100%
        .navbar-toggler
            margin-top: 15px
            display: block
        &__lang-switch
            margin-right: 0
            position: absolute
            top: 90px
            right: 0
        &__button
            position: absolute
            left: 200px
            top: 90px
            &_order
                left: 0
    .main
        &__carousel
            margin-top: 180px
            .carousel
                .carousel-cell
                    &__wrapper
                        max-width: 720px - 30px
                        h1
                            font-size: 72px
        margin-top: 180px
        &_aboutme
            background-position: left center
        &-course
            &_tba
                height: auto
                background-size: cover
                padding-bottom: 50px
            &_tnl
                height: auto
                background-size: cover
                padding-bottom: 50px
    .footer
        &-logo
            width: 170px
        .logo
            .header__user
                margin-top: 10px
    .product
        .tags
            flex-direction: column
            li
                margin-bottom: 5px
                &:after
                    display: none
        .description
            min-height: 220px
        .price
            flex-direction: column
            p
                margin-bottom: 15px
        .note
            text-align: center
            min-height: 0
    .no-guarantee
        .heading
            font-size: 40px
        .link
            margin-left: 30px
    .formats
        .list
            li
                flex-direction: column
                .left, .right
                    flex: 0 0 auto
                    width: 100%
                .left
                    margin-right: 0
                .center
                    margin: 20px 0
                    .description
                        max-width: 100%
                .right
                    flex-direction: row
                    justify-content: space-between
                    align-items: center
    .make-instead
        .product
            .heading
                min-height: 86px
            .description
                min-height: 290px
    .make-together
        .product
            .description
                min-height: 210px
            .note
                min-height: 0
    .course-contains
        .list
            justify-content: center
            li
                flex: 0 0 25%
    .make-money
        background-position: center top
        margin-right: -300px
        padding-right: 300px
    .companies
        &-block
            padding: 40px
            .heading
                font-size: 32px
            .description
                min-height: 253px
            div
                flex-direction: column
                .price
                    margin-bottom: 15px
    .events
        &_future
            margin-top: 180px
    .results
        margin-top: 180px
    .make-business
        .block
            .heading
                font-size: 35px
    .earn-footer
        background-position: left center
    .earn-choose
        .table
            tr
                td
                    height: 74px
            &-center
                tr
                    td
                        .title
                            font-size: 30px
                        .text
                            font-size: 20px
                            letter-spacing: 1px
        .button
            width: 230px
            flex: 0 0 230px
    .earn-success
        background: none
        padding-right: 0
        margin-right: 0
    .earn-interview
        .carousel
            .carousel-cell
                .embed-responsive
                    height: 360px
    .aboutme-story
        background: none
        padding-left: 0
        margin-left: 0
    .competentions
        background: #f4f4f4
        .block
            height: calc(100% - 30px)
            margin-bottom: 30px
            &-heading
                max-width: 100%
                margin: 0 0 30px
            .title
                order: 0
                margin: 0 0 30px
                flex: 0 0 72px
            .list
                order: 1
    .blog
        margin-top: 180px + 50px
    .enter-page
        &__logo
            .header__user
                flex: 0 0 auto
    .academy-nav
        width: 100%
        height: 100px
        padding: 37px 40px
        .list
            margin: 20px 0 20px
            width: 100%
            order: 1
            li
                a
                    background: none
                    color: $black
                    padding: 10px 10px 10px 70px
                    p
                        font-size: 24px
                    &.active
                        background: none
                        color: $orange
        .logo
            margin-bottom: 18px
            .navbar-toggler
                display: block
                margin-left: auto
                position: fixed
                z-index: 10
                right: 40px
        .navbar-collapse
            padding-top: 33px
            width: 600px
            background-color: $white
            position: fixed
            top: 0
            right: 0
            display: flex
            flex-direction: column
            &.collapse
                display: none
            &.show
                display: flex
        .account
            order: 0
            flex-direction: column
            width: 100%
            justify-content: flex-start
            align-items: flex-start
            padding: 0 0 0 70px
            .user
                p
                    color: $black
            a
                margin-left: 0
                margin-top: 17px
    .academy-main
        margin: 100px 0 0
        &__nav
            background: #f4f4f4
            position: static
            box-shadow: none
            width: 100%
        &__container
            margin-top: 0
            .course-program
                .table-responsive
                    .table-partners
                        width: 1400px
        .item
            &_book
                flex-direction: column
                align-items: flex-start
                .preview
                    width: 180px
                    height: 300px
                    flex: 0 0 300px
                .main
                    margin: 33px 0 30px 0
                .title
                    display: none
                    &_m
                        display: flex
                        width: 100%
                        text-align: left
                        font-size: 30px
                .buttons
                    flex: 0 0 auto
                    width: 100%
                    margin-left: 0
                    display: flex
                    justify-content: space-between
                    .button
                        max-width: 49%
                        width: 100%
    .course-program
        &__results
            padding: 40px
            .buttons
                .button
                    max-width: 340px
    .course-package
        .upper
            .title
                font-size: 30px
                flex: 0 0 190px
            .link
                font-size: 20px
            .price
                font-size: 30px
                margin: 0 20px 0 auto
                display: flex
                flex-direction: column
                span
                    font-size: 16px
                    margin-top: -5px
            .button
                flex: 0 0 100px
    .partnership-problems
        .block
            .list
                li
                    padding: 0 20px
@media (min-width: 576px) and (max-width: 767px)
    .mfp-popup
        padding: 15px
        .title
            font-size: 30px
    .header
        position: fixed
        background-color: $white
        height: 80px
        width: 100%
        z-index: 3
        &__navbar
            padding: 0
        &__navbar-collapse
            background-color: $white
            z-index: 10
            .navbar-nav
                width: 100%
                padding-top: 0
                &:after
                    display: none
                .nav-item
                    .nav-link
                        font-size: 20px
                        text-align: center
                        &:after
                            top: 0
                            display: none
        &__top
            width: 100%
            flex-wrap: wrap
            margin-left: 0px
            margin-top: 10px
            .navbar-brand
                margin: -15px 0 0 !important
                padding: 0
                flex: 0 0 53px
                img
                    width: 53px !important
                    height: 53px
                    flex: 0 0 53px
            &_m
                width: 150px
        &__user
            margin-top: 14px
            margin-bottom: 30px
            flex: 0 0 350px
            justify-content: center
        .navbar-toggler
            margin-top: 10px
            display: block
            width: 50px
            height: 50px
            span
                top: 24px
                &:before
                    top: -24px
                &:after
                    bottom: -23px
        .navbar-brand
            margin-right: 0
            margin-top: 12px
            img
                width: 130px
        &__lang-switch
            margin-right: 0
        &__button
            width: 50px
            flex: 0 0 50px
            img
                margin-right: 0
            &_order
                width: 150px
                flex: 0 0 150px
                margin: 0 auto
        &-logo-img
            margin-top: 12px
            width: 150px
            height: auto
    .main
        &__carousel
            margin-top: 80px
            .carousel
                .slick-track
                    display: flex !important
                    align-items: stretch
                    justify-content: center
                .slick-slide
                    height: auto
                .carousel-cell
                    &__wrapper
                        max-width: 560px - 60px
                        h1
                            font-size: 50px
                            b
                                font-size: 90px
                    &__buttons
                        .button
                            max-width: 60%
                        .slider-switch
                            margin-left: 26px + 28px
                    &_slide
                        &-1,&-2,&-3,&-4
                            background: #111111
        margin-top: 80px
        &_learning
            background: url("../img/learning__bg-m.jpg") no-repeat center center / cover
        &_earn
            h1
                font-size: 48px
        &_aboutme
            background-position: left center
            background-size: cover
            height: auto
            padding-bottom: 70px
            padding-top: 48px
            h1
                font-size: 90px
        &_projects
            margin-bottom: 50px
    .footer
        &-logo
            width: 170px
        .logo
            .header__user
                width: auto
                flex: 0 0 auto
                margin-top: 30px
        &-list
            &_socials
                margin-left: auto
    .block
        &-heading
            font-size: 40px
            margin-top: 30px
            &:after
                width: 140px
                height: 140px
                font-size: 150px
                left: 0
                top: -30px
                background-size: contain
    .no-guarantee
        flex-direction: column
        .heading
            font-size: 40px
        .link
            margin: 15px 0 0
    .formats
        margin-top: 0
        .list
            margin-top: 20px
            li
                flex-direction: column
                .left, .right
                    flex: 0 0 auto
                    width: 100%
                .left
                    margin-right: 0
                .center
                    margin: 20px 0
                    .description
                        max-width: 100%
                .right
                    align-items: center
                    flex-direction: row
                    justify-content: space-between
    .make-instead
        .block
            &-desc
                margin-bottom: 50px
    .make-together
        .block
            &-desc
                margin-bottom: 50px
    .course-contains
        .list
            justify-content: center
            li
                flex: 0 0 50%
    .make-money
        background: url("../img/make-money__bg-m.jpg") no-repeat left top / cover
        min-height: 500px
        padding-top: 30px
        .block
            &-heading
                margin: 0
            &-desc
                margin: 5px 0 15px
        .link
            font-size: 34px
        &_continue
            margin-top: 30px
            .cta
                flex-direction: column
                padding: 20px
                .heading
                    flex: 0 0 auto
                    text-align: center
                    font-size: 44px
                div
                    margin: 15px 0 0
    .companies
        padding-bottom: 47px
        &-block
            padding: 40px
            margin-bottom: 40px
            .heading
                font-size: 32px
    .events
        &_future
            margin-top: 80px
        .event
            &__preview
                height: 300px
            &__info
                .title
                    font-size: 24px
                    letter-spacing: 2px
            &_featured
                .event
                    &__preview
                        height: auto
                    &__info
                        .list
                            margin-top: 15px
                            margin-left: 0
    .results
        margin-top: 80px
    .learning-concept
        .list
            li
                flex-direction: column
                .title
                    flex: 0 0 auto
                .description
                    margin: 15px 0 0
                    max-width: 100%
    .make-business
        .block
            padding: 20px 0
            &-desc
                margin-bottom: 15px
            &_right
                padding: 20px
    .earn-footer
        background-position: left center
        h3
            font-size: 48px
    .earn-choose
        padding-bottom: 20px
        .table
            tr
                td
                    .text
                        text-align: center
        .button
            margin-bottom: 60px
            width: 100%
            flex: 0 0 100%
    .earn-success
        background: none
        padding-right: 0
        margin-right: 0
    .earn-interview
        .carousel
            .carousel-cell
                .story
                    padding: 44px 15px
                    .author
                        div
                            .name
                                font-size: 24px
                .embed-responsive
                    height: 280px
    .aboutme-story
        background: none
        padding-left: 0
        margin-left: 0
        .block
            .heading
                margin-left: 0
                justify-content: center
            .description
                text-align: center
                min-height: 0
            &_centered
                .heading
                    .title
                        margin-top: 31px
    .competentions
        background: #f4f4f4
        padding-top: 30px
        padding-bottom: 50px - 30px
        .block
            height: auto
            margin-bottom: 30px
            justify-content: flex-start
            align-items: flex-start
            .title
                order: 0
                margin: 0
                flex: 0 0 auto
                transition: margin 0.4s ease
                display: inline-block
                position: relative
                font-size: 24px
                &.active
                    margin: 0 0 30px
                    &:after
                        opacity: 0
                &:after
                    content: ''
                    display: block
                    background: url('data:image/svg+xml;utf8,<svg width="8" height="2" viewBox="0 0 8 2" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="2" height="2" fill="%23caac7d"/></svg>')
                    width: 100%
                    height: 2px
                    position: absolute
                    bottom: 0px
                    left: 3px
                    transition: opacity 0.4s ease
            .list
                order: 1
            &-heading
                font-size: 28px
                margin: 0 0 30px
                text-align: left
    .aboutme-results
        margin-top: 0
        border-top: none
    .blog
        margin-top: 80px + 50px
        &-pagination
            margin-bottom: 50px
        .blog-post
            margin-bottom: 50px
    .enter-page
        &__logo
            flex-direction: column
            margin-bottom: 15px
            .header__user
                flex-direction: column
                flex: 0 0 auto
                >p
                    margin: 30px 0
        &__buttons
            flex-direction: column
            .button
                max-width: 100%
    .academy-nav
        width: 100%
        height: 100px
        padding: 37px 40px
        .list
            margin: 20px 0 20px
            width: 100%
            order: 1
            li
                a
                    background: none
                    color: $black
                    padding: 10px 10px 10px 70px
                    p
                        font-size: 24px
                    &.active
                        background: none
                        color: $orange
        .logo
            margin-bottom: 18px
            .navbar-toggler
                display: block
                margin-left: auto
                position: fixed
                z-index: 10
                right: 40px
        .navbar-collapse
            padding-top: 33px
            width: 400px
            background-color: $white
            position: fixed
            top: 0
            right: 0
            display: flex
            flex-direction: column
            &.collapse
                display: none
            &.show
                display: flex
        .account
            order: 0
            flex-direction: column
            width: 100%
            justify-content: flex-start
            align-items: flex-start
            padding: 0 0 0 70px
            .user
                p
                    color: $black
            a
                margin-left: 0
                margin-top: 17px
    .academy-main
        margin: 100px 0 0
        &__nav
            background: #f4f4f4
            position: static
            width: calc(100% + 30px)
            box-shadow: none
        &__container
            margin-top: 0
            .course-program
                .table-responsive
                    .table-partners
                        width: 1400px
        .item
            &_book
                flex-direction: column
                align-items: flex-start
                .preview
                    width: 180px
                    height: 300px
                    flex: 0 0 300px
                .main
                    margin: 33px 0 30px 0
                .title
                    display: none
                    &_m
                        display: flex
                        width: 100%
                        text-align: left
                        font-size: 30px
                .buttons
                    flex: 0 0 auto
                    width: 100%
                    margin-left: 0
                    display: flex
                    justify-content: space-between
                    .button
                        max-width: 49%
                        width: 100%
    .main-course
        padding-top: 40px
        min-height: 0
        padding-bottom: 20px
        h1
            font-size: 20px
            span
                font-size: 40px
            b
                font-size: 30px
                span
                    font-size: 30px
        .buttons
            flex-direction: column
            margin-top: 40px
            .button
                max-width: 100%
    .course-program
        &__results
            padding: 15px
            .buttons
                flex-direction: column
                .button
                    max-width: 100%
    .course-package
        padding: 20px
        .upper
            flex-wrap: wrap
            .title
                font-size: 30px
                flex: 0 0 100%
            .link
                font-size: 20px
                flex: 0 0 100%
                margin: 20px auto
            .price
                font-size: 30px
                margin-left: 0
                flex: 0 0 49%
                margin-right: 1%
            .button
                flex: 0 0 50%
    .partnership-problems
        .block
            .list
                li
                    padding: 0 10px
                    min-height: 130px
    .partnership-cta
        .buttons
            flex-direction: column
            .button
                max-width: 100%
    .partnership-base
        &__note
            flex-direction: column
            padding: 20px
            b
                flex: 0 0 auto
                margin: 0 0 30px
@media (max-width: 575px)
    .mfp-popup
        padding: 15px
        .title
            font-size: 30px
    .header
        position: fixed
        background-color: $white
        height: 64px
        width: 100%
        z-index: 3
        &__navbar
            padding: 0
            &-collapse
                background-color: $white
                box-shadow: 0 25px 30px 0px rgba(0,0,0,0.3)
                z-index: 10
                margin-top: -2px
                padding-bottom: 15px
                .navbar-nav
                    width: 100%
                    padding-top: 0
                    &:after
                        display: none
                    .nav-item
                        .nav-link
                            font-size: 20px
                            text-align: center
                            padding: 3px 0
                            &:after
                                top: 0
                                display: none
        &__top
            width: 100%
            flex-wrap: wrap
            margin-left: 0px
            margin-top: 10px
            align-items: center
            justify-content: center
            .navbar-brand
                margin: -15px 0 0 !important
                padding: 0
                flex: 0 0 53px
                img
                    width: 53px !important
                    height: 53px
                    flex: 0 0 53px
            &_m
                width: 100px
                margin-left: auto
                margin-right: 15px
        &__user
            margin-bottom: 15px
            flex: 0 0 auto
            justify-content: center
            >p
                margin: 0 10px
        &__lang-switch
            margin-bottom: 15px
            flex: 0 0 40px
            margin-right: 0
            margin-left: 0
            a
                width: 40px
                height: 40px
                flex: 0 0 40px
                margin-right: 0
        &__button
            width: 40px
            flex: 0 0 40px
            justify-content: center
            margin-bottom: 15px
            height: 40px
            padding: 0 5px
            img
                margin-right: 0
            &_order
                width: 160px
                flex: 0 0 160px
                height: 30px
                margin: 0 auto 15px
        .navbar-toggler
            display: block
            margin-top: 10px
            padding: 0
        .navbar-brand
            margin-right: 0
            margin-top: 10px
            img
                width: 100px
        .dropdown-menu
            min-width: 50px
            border-radius: 0
            border: none
            padding: 10px
            a
                width: 100%
                flex: 0 0 100%
                height: 30px
                justify-content: flex-start
                &.active
                    color: $orange
                    border: none
        &-logo-img
            margin-top: 13px
            width: 110px
            height: auto
    .main
        &__carousel
            margin-top: 64px
            .carousel
                .carousel-cell
                    min-height: 0
                    height: auto
                    padding: 30px 0 0
                    &__wrapper
                        height: auto
                        max-width: calc(100vw - 30px)
                        h1
                            font-size: 26px
                            line-height: 30px
                            b
                                font-size: 48px
                                letter-spacing: 4px
                                margin-bottom: 3px
                        >p
                            font-size: 18px
                    &__buttons
                        margin-bottom: 30px
                        .button
                            max-width: 60%
                            font-size: 16px
                        .slider-switch
                            margin-left: 26px + 28px
                    &_slide
                        &-1,&-2,&-3,&-4
                            background: #111111
        margin-top: 64px
        &_learning
            background: url("../img/learning__bg-m.jpg") no-repeat center center / cover
            padding-top: 40px
            min-height: 0
            padding-bottom: 40px
            h1
                font-size: 37px
                line-height: 37px
            .button
                font-size: 16px
                letter-spacing: 0
                padding: 5px
                max-width: 100%
                img
                    width: 20px
                    height: 20px
                    flex: 0 0 20px
                    margin-right: 10px
        &_earn
            background-size: cover
            height: auto
            padding-top: 43px
            min-height: 0
            padding-bottom: 52px - 14px
            h1
                font-size: 32px
            .button
                font-size: 16px
                letter-spacing: 0
                padding: 5px
                max-width: 100%
                img
                    width: 20px
                    height: 20px
                    flex: 0 0 20px
                    margin-right: 10px
        &_aboutme
            background-position: left center
            background-size: cover
            padding-top: 48px - 6px
            padding-bottom: 67px
            height: auto
            h1
                font-size: 48px
                letter-spacing: 3px
                .small
                    margin-bottom: 36px - 6px
        &_projects
            margin-bottom: 75px - 28px
            .project
                margin-bottom: 28px
                height: auto
                .upper
                    .title
                        word-break: break-all
                        word-break: break-word
                        max-width: 100%
                    .description
                        max-width: 100%
    .footer
        &-logo
            width: 140px
        .logo
            flex-direction: column
            .header__user
                width: auto
                flex: 0 0 auto
                margin-top: 30px
                margin-bottom: 0
        &-list
            &_socials
                margin: 10px 0 30px auto
                justify-content: center
                li
                    a
                        width: 28px
                        height: 28px
                        flex: 0 0 28px
                        img
                            width: 15px
                            height: 15px
    .block
        &-heading
            font-size: 37px
            letter-spacing: 1px
            margin-top: 30px
            &:after
                width: 140px
                height: 170px
                background-size: contain
                background-position: center bottom
                left: 10px
                top: -30px
                font-size: 140px
        &-desc
            margin-bottom: 20px
            font-size: 18px
    .product
        padding: 20px
        margin-bottom: 26px
        .heading
            font-size: 32px
            max-width: 100%
        .tags
            flex-wrap: wrap
            li
                margin-bottom: 5px
        .price
            align-items: flex-start
            p
                margin-bottom: 15px
                font-size: 22px
                .cost
                    font-size: 30px
            .button
                padding: 10px 5px
                font-size: 16px
                flex: 0 0 110px
                height: 55px
        .note
            text-align: center
    .no-guarantee
        flex-direction: column
        padding: 40px 20px
        .heading
            font-size: 32px
        .link
            margin: 15px 0 0
            width: 100%
            justify-content: flex-start
    .formats
        margin-top: 0
        .list
            margin-top: 20px
            li
                flex-direction: column
                .left, .right
                    flex: 0 0 auto
                .left
                    margin-right: 0
                    width: 100%
                .center
                    margin: 20px 0
                    .description
                        max-width: 100%
                .right
                    align-items: center
                    flex-direction: row
                    width: 100%
                    .price
                        font-size: 18px
                        span
                            font-size: 32px
                    .link
                        margin-left: auto
    .make-instead
        margin-top: 0
        .block
            &-desc
                margin-bottom: 50px
        .product
            .button
                min-width: 0
    .make-together
        margin-top: 70px
        &.courses
            margin-top: 86px - 32px
            margin-bottom: 15px
            .block
                &-heading
                    margin-top: 0
        .block
            &-desc
                margin-bottom: 50px
        .product
            .note
                text-align: left
    .courses
        .block
            &-heading
                margin-bottom: 30px
    .course-contains
        .list
            margin-top: 30px
            justify-content: center
            li
                flex: 0 0 50%
                p
                    font-size: 15px
        &__note
            padding: 15px
            .description
                font-size: 20px
        &.bg-white
            .list
                margin-top: 100px
    .make-money
        background: url("../img/make-money__bg-m.jpg") no-repeat left top / cover
        min-height: 600px
        padding-top: 40px
        padding-bottom: 40px
        .block
            &-heading
                margin: 0
            &-desc
                margin: 5px 0 15px
        .heading
            font-size: 24px
        .link
            font-size: 30px
            font-weight: 400
        &_continue
            margin-top: 35px
            margin-bottom: 0
            .cta
                flex-direction: column
                padding: 20px
                margin-bottom: 48px - 13px
                .heading
                    flex: 0 0 auto
                    font-size: 44px
                div
                    margin: 15px 0 0
                    p
                        max-width: 100%
                        margin-bottom: 25px
            .feature-block
                .heading
                    font-size: 48px
                    padding-bottom: 25px
                    margin-bottom: 30px
                .list
                    li
                        padding-left: 40px
    .companies
        padding-bottom: 47px
        &-block
            padding: 20px
            margin-bottom: 40px
            .heading
                font-size: 32px
            div
                .button
                    padding: 10px 5px
    .what-you-get
        .block
            &-heading
                margin-bottom: 26px
    .events
        &_future
            margin-top: 65px
        .event
            &__preview
                height: 300px
            &__info
                .title
                    font-size: 24px
                    letter-spacing: 2px
            &_featured
                .event
                    &__preview
                        height: auto
                        .timer
                            min-width: 100px
                            padding: 10px 0
                            top: 60px
                            b
                                font-size: 16px
                    &__info
                        .list
                            margin-top: 15px
                            margin-left: 0
    .results
        margin-top: 65px
        .block
            &-desc
                margin-bottom: 48px
        .result
            height: auto
            margin-bottom: 30px
            p
                max-width: 100%
                font-size: 17px
    .learning-concept
        .block
            &-heading
                margin-bottom: 0
                margin-top: 50px
        .list
            margin-top: 0
            li
                flex-direction: column
                .title
                    flex: 0 0 auto
                .description
                    margin: 15px 0 0
                    max-width: 100%
                &:last-child
                    border-bottom: none
    .make-business
        padding-bottom: 35px
        .block
            padding: 20px 0
            .list
                margin: 40px 0 0
                li
                    p
                        max-width: 100%
            &-desc
                margin-bottom: 15px
            &_right
                padding: 20px
                .heading
                    margin-top: 0
                    margin-bottom: 35px
    .earn-reason
        padding-bottom: 50px - 30px
    .earn-stats
        .block
            &-heading
                text-align: left
        .list
            flex-wrap: wrap
            li
                flex: 0 0 50%
                width: 100%
        .button
            max-width: 100%
            font-size: 16px
            letter-spacing: 0
            padding: 5px
            margin-bottom: 5px
            img
                width: 20px
                height: 20px
                flex: 0 0 20px
                margin-right: 10px
    .earn-footer
        background-size: cover
        background-position: left center
        height: auto
        min-height: 0
        padding-bottom: 29px - 5px
        h3
            font-size: 32px
        .button
            max-width: 100%
            font-size: 16px
            letter-spacing: 0
            padding: 5px
            margin-bottom: 5px
            img
                width: 20px
                height: 20px
                flex: 0 0 20px
                margin-right: 10px
    .earn-choose
        padding-bottom: 0px
        .block
            &-heading
                margin-top: -3px
                margin-bottom: 52px - 8px
        .table
            margin-bottom: 23px
            table-layout: fixed
            tr
                td
                    width: 50%
                    .title
                        font-size: 36px
                    .text
                        text-align: right
                    &:last-child()
                        .text
                            text-align: left
                &.compare
                    background-color: #f4f4f4
                    td
                        width: 100%
                        text-transform: uppercase
                        text-align: center
                        font-size: 20px
                        font-weight: 400
                        letter-spacing: 1px
                        font-variation-settings: "wdth" 75, "wght" 400
        .button
            margin-bottom: 55px
            width: 100%
            flex: 0 0 100%
    .earn-success
        background: none
        padding-right: 0
        margin-right: 0
        padding-bottom: 0
        .block
            margin-bottom: 87px - 6px
            &-heading
                margin: 50px 0
            &-desc
                &:last-child
                    margin-bottom: 70px - 14px
            .counter
                margin-bottom: 8px
    .earn-interview
        margin-top: -10px
        padding-bottom: 50px - 5px
        .block
            &-heading
                margin-bottom: 40px
        .carousel
            .carousel-cell
                margin-top: 50px
                .story
                    padding: 44px 15px
                    display: flex
                    flex-direction: column
                    .author
                        order: 0
                        margin-top: -90px
                        margin-bottom: 30px
                        .avatar
                            margin-right: 5px
                            width: 70px
                            height: 70px
                            flex: 0 0 70px
                        div
                            min-height: 70px
                            .name
                                font-size: 16px
                                min-height: 38px
                            .salary
                                font-size: 16px
                    .description
                        order: 1
                .embed-responsive
                    height: 240px
    .earn-bonus
        padding-bottom: 64px - 30px
        .block
            &-heading
                margin-top: 53px
                margin-bottom: 40px
            .upper
                .title
                    text-align: center
                img
                    margin: 0 auto 40px
    .aboutme-story
        background: none
        padding-left: 0
        margin-left: 0
        .block
            .heading
                margin-left: 0
                justify-content: center
                .counter
                    width: 70px
                    height: 70px
                    flex: 0 0 70px
                    line-height: 75px
                    font-size: 52px
                    margin-right: 10px
                .title
                    font-size: 24px
            .description
                text-align: center
                min-height: 0
            &_centered
                .heading
                    .title
                        width: 130px
                        margin-top: 13px
                        margin-left: -40px
    .reviews
        .block
            &-heading
                margin-bottom: 50px
        .carousel
            .carousel-cell
                margin-right: 0
                .story
                    padding: 10px
                    .description
                        margin-bottom: 80px
                    .author
                        bottom: 85px
                        width: calc(100vw - 30px)
                        div
                            .name
                                font-size: 28px
                                word-break: keep-all
                                padding-right: 15px
                                width: 100%
                            .salary
                                margin-top: 10px
                                min-height: 46px
                                padding-right: 15px
                    .embed-responsive
                        margin: -10px
                        width: calc(100% + 20px)
                        height: calc(100% + 20px)
    .competentions
        background: #f4f4f4
        padding-top: 30px
        padding-bottom: 50px - 30px
        .block
            height: auto
            margin-bottom: 30px
            justify-content: flex-start
            align-items: flex-start
            .title
                order: 0
                margin: 0
                flex: 0 0 auto
                transition: margin 0.4s ease
                display: inline-block
                position: relative
                font-size: 24px
                &.active
                    margin: 0 0 30px
                    &:after
                        opacity: 0
                &:after
                    content: ''
                    display: block
                    background: url('data:image/svg+xml;utf8,<svg width="8" height="2" viewBox="0 0 8 2" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="2" height="2" fill="%23caac7d"/></svg>')
                    width: 100%
                    height: 2px
                    position: absolute
                    bottom: 0px
                    left: 3px
                    transition: opacity 0.4s ease
            .list
                order: 1
            &-heading
                font-size: 28px
                margin: 0 0 30px
                text-align: left
    .aboutme-results
        margin-top: 0
        border-top: none
    .blog
        margin-top: 64px + 50px
        &-pagination
            flex-direction: column
            margin-bottom: 40px
            .button
                margin-bottom: 10px
        &_home
            .block
                .blog-info
                    .list
                        flex-direction: column
                        flex: 0 0 auto
                        justify-content: flex-start
                        align-items: flex-start
                        li
                            margin-bottom: 15px
                            margin-right: 0
                            &:last-child
                                margin-bottom: 0
        .blog-post
            margin-bottom: 50px
            &-title
                font-size: 24px
            &-text
                .list
                    flex-direction: column
                    flex: 0 0 auto
                    align-items: flex-start
                    li
                        flex: 0 0 auto
                        margin-right: 0
                        margin-bottom: 15px
                        &:last-child
                            margin-bottom: 0
    .enter-page
        &__logo
            flex-direction: column
            margin-bottom: 15px
            .navbar-brand
                img
                    width: 150px
            .header__user
                flex-direction: column
                flex: 0 0 auto
                >p
                    margin: 15px 0
        &__buttons
            flex-direction: column
            margin-top: 30px
            margin-bottom: 15px
            .button
                max-width: 100%
        .heading
            font-size: 18px
    .academy-nav
        width: 100%
        height: 70px
        padding: 15px
        .list
            margin: 20px 0 20px
            width: 100%
            order: 1
            li
                a
                    background: none
                    color: $black
                    padding: 10px 10px 10px 20px
                    p
                        font-size: 24px
                    &.active
                        background: none
                        color: $orange
        .logo
            margin-bottom: 18px
            img
                width: 90px
                flex: 0 0 90px
            .navbar-toggler
                display: block
                margin-left: auto
                position: fixed
                z-index: 10
                right: 15px
        .navbar-collapse
            padding-top: 5px
            width: 100%
            background-color: $white
            position: fixed
            top: 0
            right: 0
            display: flex
            flex-direction: column
            &.collapse
                display: none
            &.show
                display: flex
        .account
            order: 0
            flex-direction: column
            width: 100%
            justify-content: flex-start
            align-items: flex-start
            padding: 0 0 0 20px
            .user
                p
                    color: $black
            a
                margin-left: 0
                margin-top: 17px
    .academy-main
        margin: 70px 0 0
        &__nav
            background: #f4f4f4
            padding: 15px
            position: static
            width: calc(100% + 30px)
            box-shadow: none
        &__container
            padding: 15px
            margin-top: 0
            .course-program
                .table-responsive
                    .table-partners
                        width: 1400px
                        thead
                            tr
                                display: table-row !important
        .item
            &_book
                flex-direction: column
                align-items: flex-start
                padding: 32px 15px
                .preview
                    width: 180px
                    height: 300px
                    flex: 0 0 300px
                .main
                    margin: 33px 0 30px 0
                .title
                    display: none
                    &_m
                        display: flex
                        width: 100%
                        text-align: left
                        font-size: 30px
                .buttons
                    flex: 0 0 auto
                    width: 100%
                    margin-left: 0
                    display: flex
                    justify-content: space-between
                    .button
                        max-width: 49%
                        width: 100%
    .main-course
        padding-top: 20px
        min-height: 0
        padding-bottom: 59px - 14px
        background-size: cover
        h1
            font-size: 20px
            text-align: left
            span
                font-size: 40px
            b
                font-size: 24px
                margin-top: 20px
                letter-spacing: 1px
                span
                    font-size: 24px
                    display: inline-block
                    margin-top: 0
        .description
            text-align: left
        .buttons
            flex-direction: column
            margin-top: 40px
            .button
                max-width: 100%
                font-size: 16px
                letter-spacing: 0
                padding: 5px
                img
                    width: 20px
                    height: 20px
                    flex: 0 0 20px
                    margin-right: 10px
        &_tps, &_tkr, &_tpi, &_tpm, &_tpo, &_tty
            h1
                text-align: center
            .description
                text-align: center
    .course-program
        padding-bottom: 43px
        .block
            &-heading
                margin-top: 38px
        .table
            width: 640px
            margin-top: 38px - 12px
        &__results
            padding: 38px
            .heading
                margin-top: 0 !important
                margin-bottom: 40px !important
            .buttons
                flex-direction: column
                .button
                    max-width: 100%
                    font-size: 16px
                    letter-spacing: 0
                    text-align: left
    .course-package
        padding: 20px 20px 70px
        position: relative
        .upper
            flex-wrap: wrap
            .title
                font-size: 30px
                flex: 0 0 100%
            .link
                font-size: 20px
                flex: 0 0 100%
                margin: 20px auto
            .price
                font-size: 30px
                margin-left: 0
                flex: 0 0 49%
                width: 49%
                position: absolute
                bottom: 20px
                height: 50px
                display: flex
                pointer-events: none
                flex-direction: column
                span
                    font-size: 16px
                    margin-top: -5px
            .button
                flex: 0 0 50%
                width: 50%
                position: absolute
                bottom: 20px
                right: 20px
        .lower
            margin-top: 0
            padding-bottom: 20px
    .course-costs
        padding-bottom: 44px - 15px
        .block
            &-heading
                margin: 0 0 40px
    .partnership-companies
        .block
            &-heading
                &:after
                    display: none
    .partnership-problems
        .block
            .list
                margin-right: -5px
                width: calc(100% + 5px)
                li
                    padding: 7px
                    min-height: 140px
                    border-width: 3px
                    margin-bottom: 0
                    border-bottom-width: 1.5px
                    border-top-width: 1.5px
                    p
                        font-size: 15px
                    &:first-child
                        border-top-width: 3px
                    &:last-child
                        border-bottom-width: 3px
            &_right
                .list
                    margin-right: 0
                    margin-left: -5px
    .partnership-calculator
        padding-bottom: 34px
        .table-responsive-md
            margin-right: -15px
            width: calc(100% + 15px)
            overflow-x: scroll
            min-height: 900px
        .table-result
            margin-top: 36px
        #result_table
            width: 1000px
            margin-top: 20px
            margin-bottom: 0px
        .table
            thead
                tr
                    th
                        font-variation-settings: "wdth" 75, "wght" 700
            .total
                font-weight: 700
        form
            .form-group
                .input-group-append
                    .input-group-text
                        min-width: 100px
        &__note
            padding: 15px
    .partnership-cta
        .buttons
            flex-direction: column
            .button
                max-width: 100%
    .partnership-base
        &__note
            flex-direction: column
            padding: 20px
            b
                flex: 0 0 auto
                margin: 0 0 30px
@supports (-ms-ime-align:auto)
    @media (max-width: 575px)
        .partnership-calculator
            .table-responsive-md
                min-height: 900px
                height: 100%