.main_projects
    border-top: 1px solid $gray-300
    margin-bottom: 100px
    .block
        &-heading
            max-width: 100%
            margin-top: 50px
            margin-bottom: 20px
    .project
        display: flex
        flex-direction: column
        justify-content: space-between
        min-height: 510px
        height: calc(100% - 30px)
        margin-bottom: 30px
        color: $white
        padding: 38px 40px
        position: relative
        .background
            margin: -38px -40px
            display: block
            position: absolute
            width: 100%
            height: 100%
            z-index: -1
            object-fit: cover
            object-position: top
            filter: saturate(0) brightness(0.25)
        .upper
            flex: 1 1 auto
            .type
                font-size: 18px
            .logo
                display: block
                max-width: 195px
                height: 53px
                object-fit: contain
            .title
                display: block
                font-size: 36px
                color: $orange
                text-transform: uppercase
                font-weight: 400
                font-variation-settings: "wdth" 75, "wght" 300
                margin: 40px 0 20px
                min-height: 86px
                letter-spacing: 2px
                max-width: 200px
        .lower
            flex: 0 0 84px
            .more-at
                color: $gray-500
            .button
                color: $white
                max-width: 206px
        &_2
            .upper
                .logo
                    filter: invert(1) contrast(2)
.make-business
    background-color: #f4f4f4
    padding-bottom: 52px
    .block
        padding: 50px 0
        &-heading
            max-width: 100%
        .heading
            @extend .block-heading
            font-size: 48px
            margin: 0
            max-width: 480px
        .list
            margin: 60px 0 0
        &_right
            background-color: $white
            padding: 50px 60px
            .description
                font-size: 19px
            form
                margin-top: 15px
                .button
                    width: 100%