.results
    margin-bottom: 64px
    border-top: 1px solid $gray-300
    .result
        border: 4px solid $orange
        padding: 33px 33px 13px 33px
        height: calc(100% - 50px)
        margin-bottom: 50px
        display: flex
        flex-direction: column
        justify-content: space-between
        .upper
            flex: 1 1 auto
        .lower
            flex: 0 0 121px
        p
            @extend .description
        .title
            text-transform: uppercase
            display: block
            font-weight: 400
            font-size: 29px
            letter-spacing: 2px
            font-variation-settings: "wdth" 75, "wght" 300
            min-height: 108px
        .place
            margin-top: 5px
            img
                width: 16px
                margin-right: 8px
                margin-top: -5px
        .heading
            display: block
            margin-top: 30px
            text-transform: uppercase
            font-weight: 400
            font-size: 20px
            font-variation-settings: "wdth" 75, "wght" 600
            letter-spacing: 1px
        .list
            flex-direction: column
            margin: 25px 0
            min-height: 75px
            li
                position: relative
                padding-left: 24px
                margin-bottom: 0
                &:before
                    width: 14px
                    height: 14px
                    border: 2px solid $orange
                    left: 0px
                    top: 5px
                &:after
                    width: 6px
                    height: 6px
                    background-color: $orange
                    top: 9px
                    left: 4px
        .summary
            margin: 0 -33px
            background-color: $orange
            height: 80px
            display: flex
            align-items: center
            justify-content: center
            b
                display: block
                text-align: center
                color: $white
                text-transform: uppercase
                font-weight: 400
                font-size: 20px
                letter-spacing: 1px
                font-variation-settings: "wdth" 75, "wght" 500
        .link
            margin: 20px 0 0
        .no-link
            @extend .link
            font: 17px 'Bahnschrift Condensed', sans-serif
            &:hover
                color: $black
            &:after
                display: none
        &.hidden
            display: none
    .button
        max-width: 262px
        margin: 0 auto
.landings
    background-color: #f4f4f4
    padding-bottom: 67px
    .block
        &-heading
            max-width: 760px
    .landing
        display: block
        background-color: #fff
        height: 500px
        margin-bottom: 58px
        transition: all 0.3s ease
        position: relative
        b
            position: absolute
            width: 100%
            height: 100%
            display: flex
            background: url("../img/icons/results/icon-2.svg") no-repeat center bottom 160px / 40px, transparentize($orange, 0.1)
            font-size: 30px
            text-align: center
            justify-content: center
            align-items: center
            text-transform: uppercase
            font-weight: 400
            font-variation-settings: "wdth" 75, "wght" 300
            color: $white
            opacity: 0
            transition: all 0.3s ease
            -webkit-font-smoothing: antialiased
            transform: translate3d(0,0,0)
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: 50%
        &:hover
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,1)
            b
                opacity: 1
        &:focus
            outline: 0
        &.hidden
            display: none
    .button
        max-width: 262px
        margin: 0 auto