.main
    &-course
        background-color: #111111
        color: $white
        min-height: 775px
        padding-top: 160px
        h1
            display: block
            text-transform: uppercase
            font-weight: 400
            font-size: 30px
            font-variation-settings: "wdth" 75, "wght" 300
            margin-bottom: 50px - 20px
            text-align: center
            letter-spacing: 3px
            span
                display: block
                color: $orange
                font-size: 60px
                margin-top: 22px
            b
                display: block
                font-weight: 400
                font-size: 60px
                max-width: 838px
                margin: 0 auto
                span
                    display: inline-block
                    margin-top: 0
        .description
            text-align: center
            max-width: 100%
        .buttons
            display: flex
            justify-content: space-between
            margin-top: 85px
            .button
                @extend %button-with-image
        &_tkr
            background: url("../img/tkr__bg.jpg") no-repeat center center
        &_tpi
            background: url("../img/tpi__bg.jpg") no-repeat center center
        &_tpm
            background: url("../img/tpm__bg.jpg") no-repeat center center
        &_tpo
            background: url("../img/tpo__bg.jpg") no-repeat center center
        &_tps
            background: url("../img/tps__bg.jpg") no-repeat center center
        &_tty
            background: url("../img/tty__bg.jpg") no-repeat center center
        &_tba
            padding-top: 80px
            background: url("../img/tba__bg.jpg") no-repeat center center
        &_tbnl
            padding-top: 80px
            background: url("../img/tbnl__bg.jpg") no-repeat center center
.course-contains
    &__note
        border: 4px solid $orange
        padding: 40px 60px
        margin-bottom: 60px
        .description
            max-width: 100%
            font-size: 24px
.course-program
    background-color: #f4f4f4
    padding-bottom: 80px
    .table
        background: $white
        margin-top: 60px
        margin-bottom: 40px
        thead
            border: none
            tr
                th
                    font-size: 24px
                    font-weight: 400
                    text-transform: uppercase
                    font-variation-settings: "wdth" 75, "wght" 400
                    letter-spacing: 1px
                    border: none
                    padding: 20px 30px
        tbody
            tr
                th, td
                    border: none
                    padding: 20px 30px
                td
                    font: 17px "PT Sans Narrow", sans-serif
                    a
                        color: $black
                        transition: all 0.3s ease
                        &:hover
                            color: $orange
                            text-decoration: none
                &:nth-child(even)
                    background: #f4f4f4
            tr.divider
                background: $orange
                position: relative
                cursor: pointer
                th
                    font-size: 18px
                    font-weight: 400
                    text-transform: uppercase
                    font-variation-settings: "wdth" 75, "wght" 400
                &:after
                    content: ''
                    display: block
                    width: 20px
                    height: 20px
                    background: url("../img/icons/angle-right.svg") no-repeat center center / contain
                    filter: saturate(0) brightness(0)
                    transform: rotate(-90deg)
                    position: relative
                    right: 50px
                    top: 20px
                    margin-right: -50px
                    transition: all 0.3s ease
                &.toggled
                    &:after
                        transform: rotate(90deg)
    &__results
        border: 4px solid $orange
        padding: 70px 94px
        .heading
            @extend .block-heading
            max-width: 100%
            margin: 0 0 30px
        .buttons
            display: flex
            justify-content: space-between
            margin-top: 50px
            .button
                @extend %button-with-image
                color: $black
                &:hover
                    color: $white
.course-features
    margin-top: 45px
    background-color: #f4f4f4
    .block
        .heading
            display: block
            font-size: 24px
            font-weight: 400
            text-transform: uppercase
            font-variation-settings: "wdth" 75, "wght" 400
            margin-bottom: 10px
.course-stats
    background-color: #f4f4f4
    padding-bottom: 95px - 28px
    .block
        &-heading
            margin-bottom: 60px
        background-color: $white
        margin-bottom: 28px
        padding: 30px
        display: flex
        flex-direction: column
        .title
            display: block
            font-size: 24px
            font-weight: 400
            text-transform: uppercase
            font-variation-settings: "wdth" 75, "wght" 400
            margin-bottom: 10px
            color: $orange
        .description
            margin: 0 0 30px
            max-width: 100%
            text-align: left
            text-transform: uppercase
.course-costs
    padding-bottom: 100px - 15px
    .block
        &-heading
            margin: 0 0 55px
.course-package
    border: 4px solid $orange
    display: flex
    flex-direction: column
    padding: 37px 40px
    margin-bottom: 15px
    .upper
        display: flex
        align-items: center
        .title
            display: block
            font-size: 36px
            font-weight: 400
            text-transform: uppercase
            font-variation-settings: "wdth" 75, "wght" 400
            flex: 0 0 270px
            margin-right: 20px
        .link
            font-size: 24px
            &:after
                content: ''
                background: url('../img/icons/angle-right.svg') no-repeat center center / contain
                width: 16px
                height: 16px
                transform: rotate(90deg)
            &.toggled
                &:after
                    transform: rotate(-90deg)
        .price
            margin: 0 40px 0 auto
            color: $orange
            font: 36px 'Bahnschrift Condensed', sans-serif
            font-weight: 400
            text-transform: uppercase
            font-variation-settings: "wdth" 75, "wght" 400
            span
                font-size: 20px
                color: #212529
        .button
            flex: 0 0 226px
    .lower
        margin-top: 35px
        &.hidden
            display: none
.partnership-problems
    padding-bottom: 38px
    .block
        .heading
            display: block
            text-transform: uppercase
            font-weight: 400
            font-size: 36px
            font-variation-settings: "wdth" 75, "wght" 400
            letter-spacing: 1px
            margin-bottom: 30px
        .list
            flex-direction: column
            li
                min-height: 100px
                display: flex
                align-items: center
                border: 4px solid $gray-300
                margin-bottom: 10px
                padding: 0 40px
                p
                    margin: 0
                    font-size: 19px
        &-right
            .list
                li
                    border: 4px solid $orange
.partnership-calculator
    background-color: #f4f4f4
    padding-bottom: 67px
    form
        .form-group
            label
                text-transform: uppercase
                font-size: 24px
                font-variation-settings: "wdth" 75, "wght" 400
            .form-control
                height: 62px
                border-radius: 0
                border: none
                font: 17px "PT Sans Narrow", sans-serif
                +placeholder
                    color: $gray-500
            .input-group-append
                .input-group-text
                    min-width: 165px
                    background-color: $white
                    justify-content: center
                    border: 4px solid $orange
                    border-radius: 0
                    font-size: 18px
                    text-transform: uppercase
                    font-variation-settings: "wdth" 75, "wght" 400
    .table
        background: $white
        margin-top: 20px
        margin-bottom: 40px
        thead
            border: none
            tr
                background: $orange
                th
                    font-size: 18px
                    font-weight: 400
                    text-transform: uppercase
                    font-variation-settings: "wdth" 75, "wght" 400
                    letter-spacing: 1px
                    border: none
                    padding: 20px 10px
                    color: $white
                    &:first-child
                        width: 130px
        tbody
            tr
                td, th
                    border: none
                    padding: 20px 10px
                    font: 17px "PT Sans Narrow", sans-serif
                th
                    font-weight: 700
                &:nth-child(even)
                    background: #f4f4f4
        .total
            background-color: $orange
            color: $white
            padding: 10px
            vertical-align: middle
            font: 17px "PT Sans Narrow", sans-serif
            font-weight: 700
    &__note
        border: 4px solid $orange
        padding: 38px 60px
        p
            font-size: 19px
        .ps
            text-transform: uppercase
            font-weight: 400
            font-size: 24px
            font-variation-settings: "wdth" 75, "wght" 400
.partnership-cta
    padding-bottom: 77px
    .buttons
        display: flex
        justify-content: space-between
        margin: 50px auto 0
        max-width: 992px
        .button
            @extend %button-with-image
            color: $black
            &:hover
                color: $white
.partnership-features
    .block
        .heading
            display: block
            font-size: 24px
            font-weight: 400
            text-transform: uppercase
            font-variation-settings: "wdth" 75, "wght" 400
            margin-bottom: 10px
.partnership-base
    background-color: #f4f4f4
    padding-bottom: 50px
    .block
        margin-bottom: 50px
        &-heading
            max-width: 100%
            margin-bottom: 50px
        .title
            display: block
            text-transform: uppercase
            color: $orange
            font-size: 24px
            font-weight: 400
            font-variation-settings: "wdth" 75, "wght" 400
            margin-bottom: 10px
    &__note
        border: 4px solid $orange
        display: flex
        align-items: center
        padding: 30px 55px
        b
            color: $orange
            display: block
            text-transform: uppercase
            font-size: 24px
            font-weight: 400
            font-variation-settings: "wdth" 75, "wght" 400
            margin-right: 60px
            flex: 0 0 200px
        p
            font-size: 19px